[2016-07-25 17:22] ketzacoatl opened #2 "add default for NOMAD_PORT"
While I remember a lot of things, it's usually details like this that elude me. I do remember there are three ports for nomad (4 something 46, 47, and 48), but I only vaguely remember that 6 is the something, and I forget which of 46, 47, 48 is _the_ "nomad server". Looking this up in nomad should be quick, but it took me a few pokes to remember that I should look at the agent section for configur

[2016-07-25 21:07] iverberk commented on #2
Ah ok, yeah good point actually. I wanted to make the port configurable in case anyone had a non-default setup but adding it as default definitely makes sense. I'll update the readme to use the default port, this should be probably be good enough for most people, agreed?

Thanks!

[2016-07-25 21:20] ketzacoatl commented on #2
I usually opt for "set `$FOO` to override, but there's a default in place in case you don't set anything", but yea, a doc update works for those who read it :)

[2016-07-25 21:26] iverberk commented on #2
Done!

[2016-07-25 21:26] #2 closed

[2016-07-26 16:55] remmelt opened #3 "CPU spike"
Awesome UI!

On OSX Chrome, every request to the Nomad API is sent as fast as possible. This makes the CPU go crazy... I've also downloaded ~50MB of json in the time I've typed this ;)

Maybe a timeout?

[2016-07-26 17:00] iverberk commented on #3
Hi Remmelt,

Thanks. I've seen this before and there actually already is a timeout for this but obviously it's not working :-) Do you happen to have a case for reproducing this? That would help a lot. Otherwise I might have to fallback to not automatically retry the requests and just let the user refresh the page.

[2016-07-26 17:43] jippi commented on #3
i think its the `X-Nomad-Index` not being used correctly ... all my requests use ?index=1 or `? index=0` even though the header is in the API response and support blocking queries

[2016-07-26 18:04] iverberk commented on #3
@jippi I'm not sure I follow. In what way is it being used incorrectly? When the UI starts it will query the nodes, allocs, evals and jobs with index=0. When this returns it will contain a new (higher) index which is used in the next request. In theory this should never cause an infinite loop unless the index remains the same and the call becomes non-blocking.

[2016-07-27 06:10] iverberk opened #4 "Consistent task event ordering"
Right now the task events are not displayed chronologically. This is confusing and should be ordered with the latest task events at the top.

[2016-07-27 06:16] iverberk opened #5 "Resource monitoring"
Create graphs that show the overall resource usage of clients and allocations. Clients can be queried with the stats endpoint: https://www.nomadproject.io/docs/http/client-stats.html

More information in this PR: https://github.com/hashicorp/nomad/pull/1189

[2016-07-27 06:18] iverberk opened #6 "Tail log files"
Show a live stream of the file contents. More information about the stats/stream API: https://github.com/hashicorp/nomad/pull/1466/commits/fbf1d2fe56b900c3938bb5c645eef27c0180a458

[2016-07-27 08:11] remmelt commented on #3
Hi Ivo,

I can reproduce this like so:

Clone the nomad master git branch (5081b940e90fe80c3dfcfcc895598a7261edf85e)
`vagrant up`
(For me this didn't actually install nomad in the vm... so downloaded the nomad binary from the site)
Create `server.hcl`
Paste `http_api_response_headers { Access-Control-Allow-Origin = "*" }`

`./nomad agent -dev -config server.hcl`

I then had to create a tunnel to t

[2016-07-27 08:41] iverberk commented on #3
Okay, I think it start to make sense. I actually omitted a crucial piece of information in the readme on enabling CORS on the server. I've updated the readme with the information. Specifically, it is necessary to allow the x-nomad-index header to pass through. Hopefully that will resolve the spike. Although it should still adhere to the timeout, which it doesn't... Let me know how you get on with

[2016-07-27 09:28] remmelt commented on #3
Ah yes, this did the trick. Thanks!

[2016-07-27 09:28] #3 closed

[2016-07-28 06:52] iverberk opened #7 "Create jobs through UI"
Show a form to create new job definitions

[2016-07-28 06:53] iverberk opened #8 "Allow job control from the UI"
Introduce ways of starting and stopping jobs.

[2016-07-28 08:18] iverberk opened #9 "Create a backend component for polling and aggregation"
Reduce the burden of the client app by transferring the polling mechanisms to the backend. This would also eliminate the CORS restrictions. Maybe we can even do server side aggregation of information and potentially introduce security measures.

[2016-07-28 14:34] EcofitBrendan commented on #4
@iverberk I'd be happy to give adding this functionality a shot, seems like a good way to introduce myself to the code.

[2016-07-28 15:41] iverberk commented on #4
Excellent! Let me know if you have any questions. The idea was to always show the latest ten task events on the cluster page.

[2016-07-28 16:24] iverberk opened #10 "Change the colors to something more sensible"
Right now, the same graph colors are used for everything. They should be differentiated on what they represent. Also think about color blindness and choose appropriate colors.

[2016-07-28 17:55] EcofitBrendan commented on #4
It'll likely be a slow start for me, I've never done any significant work with React before, but if I have any questions I'll be in touch.

[2016-07-28 20:55] iverberk commented on #9
Started working on this as it would significantly reduce complexity in the front-end app.

[2016-07-29 20:28] ramukima opened #11 "Does not show any data"
I am running the docker contains as described by exporting NOMAD_ADDR and NOMAD_PORT correctly.  e.g.
[code]

My nomad agent (server mode) is running at 10.0.2.15:4646 and I can see the output from inside the docker container like below -

[code]

However, when I look in the UI, I do not see any nodes in the dataset under "NODES". Any idea what could I be doing wrong ?

[2016-07-29 20:50] ramukima commented on #11
Found it by looking at browser console errors - there was an issue connecting to the nomad instance.

Here is what I had -
1. A VirtualBox VM running on my machine, the VM talks to the host machine and outside using bridge networking via eth1 interface (address 192.168.*.*).
2. Nomad was running in this VM bound to eth0 (10.0.2.15 as above)
3. I ran the nomad UI on this VM by specifying NOMAD_ADDR

[2016-07-29 20:50] #11 closed

[2016-08-02 00:20] dadgar opened #13 "Create a Nomad Job file"
It would be awesome if you could `nomad run nomad-ui.nomad`!

[2016-08-02 19:42] ketzacoatl commented on #9
Would this result in being able to run the UI on a Nomad cluster, accessed over an SSH tunnel, and without the client being able to hit the nomad APIs directly?

[2016-08-02 20:07] iverberk commented on #9
@ketzacoatl yes! I'm almost done with the backend implementation. You can run the backend anywhere you want, as long as it's able to reach your Nomad server. You can then hit it with the browser, directly or indirectly through an ssh tunnel, and it will serve up the client. The client makes a websocket connection back on the same host and port. All communication will happen through that single lin

[2016-08-02 20:09] iverberk commented on #13
Yep! I'm almost done with the backend implementation. The idea is to package it all up in a single binary that will act as a backend and serve up the javascript client. I'll create the appropriate Nomad file for this. Do you have any preference for an exec or Docker task?

[2016-08-02 23:29] ketzacoatl commented on #9
That is _really_ exciting! I'll keep an eye on this ticket and run tests when the updates are available. Thanks for all your work on this project, it's so great to see, and I hope it takes off with more contributors lending their time!

[2016-08-03 10:01] adrianlop commented on #9
awesome work @iverberk

[2016-08-03 14:59] themalkolm commented on #13
Would be nice to not have docker dependency :dancer:

[2016-08-08 17:02] iverberk commented on #9
I've completed the backend. Nomad-ui is now a single binary that serves both the backend and frontend. Please try it out and let me know if you find any bugs.

[2016-08-08 17:26] iverberk commented on #13
@dadgar I've added the jobspec: https://github.com/iverberk/nomad-ui/blob/master/nomad-ui.nomad. Let me know if this works for you!

@themalkolm you can now download a binary from the releases page for your platform. No Docker needed :-)

[2016-08-08 20:09] iverberk commented on #6
This is now implemented with the new backend.

[2016-08-08 20:09] #6 closed

[2016-08-08 22:02] dadgar commented on #13
Looks great. Will deploy it to our Nomad cluster soon! One thing is I would add a constraint that it is on linux given the example binary is linux.

Also it would be cool if you by default searched for the address using `nomad.service.consul` given that is automatically registered.

[2016-08-09 06:31] iverberk commented on #13
Done!

[2016-08-09 06:31] #13 closed

[2016-08-09 06:32] #9 closed

[2016-08-09 20:33] ketzacoatl commented on #9
This works well in my testing (with the client connected over SSH tunnel). This is great!

[2016-08-10 15:49] ketzacoatl opened #14 "setup travis to publish executable (or docker image) with updates to master"
With the job spec for nomad, we can easily run the executable release. If a user wishes to test the latest from master, they need to setup NPM and build the project. That isn't terrible, but automation is nice and travis can be setup to publish that executable (or build a docker image), with commits made to master. We could then grab the SHA and update the job spec to test on nomad.

Feel free to

[2016-08-11 06:25] iverberk commented on #14
@ketzacoatl this is a great idea. Unfortunately there are not a lot of tests yet, but automatically creating releases will be a good start. The project is still in the startup phase where things change rapidly (e.g. the whole backend implementation). I think that I'll setup an automated Docker image build as I'm not sure that I can automatically publish releases to Github. I'll let you know once I

[2016-08-11 06:25] iverberk commented on #4
Hi @EcofitBrendan, were you able to make some progress on this? If you need help just let me know.

[2016-08-11 09:49] themalkolm commented on #13
@iverberk thanks, will take a look!

[2016-08-11 15:34] EcofitBrendan commented on #4
No, unfortunately I've been relatively swamped for the last two weeks. It's still on my radar but I doubt I will get a chance to look at it until this weekend.

[2016-08-12 11:10] bkmit opened #15 "Mount nomad-ui on some possibly configurable prefix uri"
In case we want integrate nomad-ui with fabio https://github.com/eBay/fabio.git would be very useful to have ability to mount nomad-ui on some prefix like http://host.name.com/nomad-ui/...
It can be configurable by environment variable like NOMAD_PORT or hard coded.

[2016-08-12 11:58] iverberk commented on #15
@bkmit that should be easy to do. I'll try to implement something this weekend.

[2016-08-15 14:52] themalkolm opened #17 "Give user a hint where to find the running ui"
[code]

Whenever I start it says it is "starting" but leaves me wondering if:

1. Did it actually start?
2. Where exactly it is running?

What if we write something like this instead to not confuse user:

[code]

This way I see that it is started and obvious where to find it. What do you think?

[2016-08-15 14:54] themalkolm opened #18 "Assume that NOMAD_ADDR is localhost and NOMAD_PORT is 4646"
Won't it be great if `nomad-ui` followed logic from nomad itself and always assumed that you want to talk to the local service? So it works right away instead of throwing this:

[code]

[2016-08-15 14:56] themalkolm opened #19 "Add servers tab to track online servers"
We run a small cluster of servers and it is very interesting to keep track how many of them alive as well, not nodes only.

[2016-08-15 14:56] themalkolm commented on #19
Anyway, looks nice. Maybe I should start learning and hacking myself instead of writing issues for you :D

[2016-08-15 15:53] iverberk commented on #19
@themalkolm PR's are always welcome! :-)

I've been testing with Nomad's 'dev' mode mostly, so I didn't exactly run into this. I'll setup a cluster where the servers are separated and see if can make a useful UI for them. Thanks for reporting!

[2016-08-15 15:54] iverberk commented on #18
Yeah, I suppose we could make it work this way, let me think about it for a bit. Might be confusing if people are running it in a Docker container because 127.0.0.1 would be local to the container. That's the original reasoning for always having to provide the Nomad location.

[2016-08-15 15:55] iverberk commented on #17
Very valid points and good suggestion! Care to create a PR for this? :-)

[2016-08-15 16:12] themalkolm commented on #18
I would even prefer proper cli flags instead of environment variables. There should be a nice way to do both in golang I bet.

[2016-08-15 16:16] themalkolm commented on #14
Would be nice to have it automated. It is so much easier to hack around when I can build the same way as maintainers do via Travis.

[2016-08-16 07:00] gnur opened #20 "websocket is always opened of plaintext"
I've setup nomad-ui behind nginx for ssl termination and client verification but the websocket connection still seems to connect to ws:// instead of wss://

So I get these errors in the console (of chrome):

`event.js:79Mixed Content: The page at 'https://nomadui.redacted/#/cluster?_k=j315or' was loaded over HTTPS, but attempted to connect to the insecure WebSocket endpoint 'ws://nomadui.redacted/

[2016-08-16 07:03] themalkolm commented on #19
@iverberk will add it then.

[2016-08-16 07:05] themalkolm commented on #20
I believe you want this commit https://github.com/iverberk/nomad-ui/commit/d14505e970fad2a885ce5680b5577799e45d21ca and it is not yet in any release.

[2016-08-16 07:22] gnur commented on #20
Ah exactly, when can we expect this in a release? I was using the docker image for my convenience, might build it if a release isn't imminent.

[2016-08-16 07:24] iverberk commented on #20
I will create a new release this afternoon. I'll also try to setup automated builds with Travis, time permitting.

[2016-08-16 08:07] themalkolm commented on #20
@iverberk I added glide configuration and currently adding travis support to make it check that it still builds.

[2016-08-16 08:45] iverberk commented on #20
@themalkolm Awesome, looking forward to it!

[2016-08-17 16:17] themalkolm commented on #20
@iverberk I finished something that allows to automatically make releases. You can check it here https://github.com/themalkolm/nomad-ui in master branch. Tell me what you think.

[2016-08-17 17:51] iverberk commented on #20
@themalkolm you've been busy!! :-D Looks really good. Is it possible for you to create (multiple) PR's (I think you made a number of adjustments/improvements)? That'll make it easier to assess the changes. Really excited to merge this.

[2016-08-18 00:11] dvusboy opened #21 "Files under an allocation are no longer viewable"
## Version

Docker Image`iverberk/nomad-ui:0.1.0` with ID `c9e53b2c481a`

## Description

If I follow the linkss to the "Files" tab of an allocation, and then try to follow the path `/alloc/logs` to view the `stderr` and `stdout` files, those files in the "Path" box are no longer "clickable", and their contents do not show up under the "File" box.

This was working before the `0.1.0` tag.

[2016-08-18 06:06] iverberk commented on #21
@dvusboy is there any error visible in the Docker container logs or in the browser console? Can you reproduce this?

[2016-08-18 07:46] themalkolm commented on #18
I think it is a good idea to ditch NOMAD_PORT completely as nomad did as well. NOMAD_ADDR has host:port so is enough. I think nomad-ui should mimic nomad configuration as much as possible.

[2016-08-18 07:47] themalkolm commented on #20
@iverberk eh, depends if I have enough patience to make a pull request for every change

[2016-08-18 07:59] iverberk commented on #20
@themalkolm you can batch up small ones of course, or make a big PR with all the changes. It's just easier to look at a diff than try to find what changed :-)

[2016-08-18 08:21] #18 closed

[2016-08-18 08:27] themalkolm commented on #15
@iverberk so is it serving part only or webapp also must be updated to respect prefix?

[2016-08-18 08:36] iverberk commented on #15
@themalkolm yeah I think we need to take a look at the react router. I don't know if the current configuration is relative or not. Will take a look at it tonight.

[2016-08-18 09:49] themalkolm commented on #14
I already did the travis part. We will have travis building all binaries and pushing all tagged binaries to github. This will also make it possible later to automate docker image creating.

[2016-08-18 15:10] ketzacoatl commented on #14
I don't see this on travis-ci.org, would it be at https://travis-ci.org/iverberk/nomad-ui?

[2016-08-18 15:33] themalkolm commented on #14
@ketzacoatl oh, sorry. I meant that I did this in my fork but it is yet to be merged to upstream.

[2016-08-18 18:40] iverberk commented on #15
I looked into this a little more and I don't think we can create a dynamic subpath based on a parameter to serve the UI. The paths to the assets are determined at build time and although we can (and already did) modify the backend server to listen on a different subpath, the webapp will still try to load assets from /. My suggestion would be to use something like /ui (like Consul) or /nomad-ui  as

[2016-08-18 18:53] dvusboy commented on #21
It is reproducible.

Nomad is `v0.4.0`, installed by way of a custom-built RPM. Here's a snippet of the log from `docker logs`:

[code]

There doesn't seem to be anything obviously off in the Nomad log, and it doesn't seem to be telling me what's causing the 404.

[code]

[2016-08-18 18:56] iverberk commented on #21
@dvusboy sorry, I know what is going on. I've updated the file viewer to stream contents to the browser. However, this requires 0.4.1 of Nomad. I've not handled the version compatibility with Nomad server well yet. This will be fixed asap. Any possibility for you to upgrade to 0.4.1 in the mean time?

[2016-08-18 19:02] themalkolm commented on #15
@iverberk are you really sure there is no way to fix it in react? On ws connect we can tell webapp where to look for assets, right?

[2016-08-18 19:05] iverberk commented on #15
The problem is that the react app is never loaded (404). The index.html has references to a predefined path which we cannot set at runtime without some kind elaborate rewriting, which I don't think is worth the hassle.

[2016-08-18 19:23] dvusboy commented on #21
That's quick! I'm sorry, but I'd have to wait for the official release of `0.4.1`. Thanks.

[2016-08-18 19:24] #19 closed

[2016-08-18 19:43] iverberk commented on #21
I understand, it probably won't be long. Like I said, this was a mistake and will be fixed properly soon. The main difference is mostly in the architecture (a dedicated backend with websocket connection) so I think you should still be able to use the old version until things settle down.

[2016-08-18 19:44] iverberk commented on #17
Fixed by #27

[2016-08-18 19:44] #17 closed

[2016-08-18 19:44] #21 closed

[2016-08-18 21:03] themalkolm opened #43 "Add version compatibility check"
Currently we build against nomad-0.4.0 but due the fact that everything is REST it is possible to run UI with older or newer nomad-0.4.0 version. We need a way for UI to run a sanity check and error if versions mismatch.

[2016-08-18 21:05] themalkolm opened #44 "Add nomad-0.4.1 support"
Lets add nomad-0.4.1 support and enable back code that was disabled in 2c2eb247e27a6339794fe5fbee28e475e46255bf.

Do we want to build different UI binaries for different nomad versions or we simply follow the edge?

[2016-08-18 21:08] themalkolm commented on #44
Yeah, I know that everything is REST but still.

[2016-08-18 21:09] iverberk commented on #44
yeah, good question. I think we should probably follow the edge but make sure that the latest released version of Nomad is fully supported. New features should probably have some kind of graceful degradation by not showing/using them if the Nomad server is not compatible. I'm going to think about this a little more.

[2016-08-18 21:10] iverberk commented on #43
Yes, this is critical to maintaining a good user experience. People will not always be able to upgrade to the latest version immediately.

[2016-08-18 21:11] iverberk commented on #44
Let's follow the edge for now. I think 0.4.1 is released any day now. If people really need the file viewer they can use the previous version for a little while still.

[2016-08-18 21:12] themalkolm commented on #44
It was released yesterday I believe.

[2016-08-18 21:13] themalkolm commented on #44
I need a file viewer and streaming stdout/stderr so I will test this on 0.4.1 anyway 💃

[2016-08-18 21:14] iverberk commented on #21
In case you missed it, 0.4.1 is released: https://groups.google.com/forum/#!topic/nomad-tool/i936vj7yZmA

[2016-08-19 07:27] themalkolm opened #47 "Move webapp code to a separate folder"
This way we can have all part separated (something I really want):

* `/3rdparty`
* `/backend`
* `/webapp`
* Uber `Makefile` to build them all

What do you think?

[2016-08-19 07:29] iverberk commented on #47
Yes, definitely makes sense with the current setup.

[2016-08-19 07:33] themalkolm commented on #47
kk, will do it

[2016-08-19 07:45] themalkolm opened #48 "Create a way to indicate in UI if backend is connected"
Currently UI doesn't show when it is unable to connect to backend. This way it is hard to get if backend is disconnected of there are simply no nodes/jobs/evaluations/etc.

[2016-08-19 07:46] themalkolm commented on #14
This one is done.

[2016-08-19 07:50] iverberk commented on #48
yeah, we should probably show some kind of modal dialog that show the disconnected status and disappears when the backend is connected.

[2016-08-19 07:53] iverberk commented on #14
@themalkolm did great work on this. I will look into publishing the releases automatically today.

[2016-08-19 07:53] #14 closed

[2016-08-19 07:54] themalkolm commented on #48
I'm OK with a green/red dot somewhere instead. I don't like dialogs :D

[2016-08-19 07:55] iverberk commented on #48
hmm, yeah it's really obtrusive but then again, if the backend is not connected the UI is basically useless. Maybe we could show a connection status in the sidebar.

[2016-08-19 07:57] themalkolm commented on #48
Nomad itself can recover easily in cluster configuraiton. Death of a single server doesn't mean we are gone - it means this server is dead, it will simply reelect another leader. So we indicate that this *specified* server is OFF. If address provided was a DNS name, it is possible that after a while it will work again (some fail-over mechanism will update it to the working leader - we do this) and

[2016-08-19 07:58] themalkolm commented on #48
We can show pe-7s-attention next to NOMAD title or in status bar in this case with info in the tooltip why it is off.

[2016-08-19 08:17] iverberk commented on #48
So maybe the nicer solution is to allow a list of servers to the backend configuration which we can round-robin in case of server failures. What do you think?

[2016-08-19 08:18] iverberk commented on #48
oh wait, there are two issues at play here. Connecting to the backend websocket from the UI and the backend connecting to Nomad send, both might potentially fail.

[2016-08-19 08:43] themalkolm commented on #48
Oh, yeah.

* Accept list of addresses in backend

* Indicate that backend is down
* Indicate that nomad is down

[2016-08-19 08:44] themalkolm commented on #48
The easiest one is `backend being down` - we just need to track the timestamp of the last received message via websocket. Right? If it is too late - we are probably disconnected.

[2016-08-19 09:03] iverberk commented on #48
For the ```backend being down``` case we can just monitor the websocket connection status. If it moves to a disconnected state we'll know that the backend has gone away or crashed. This can probably best be implemented with a background saga that checks the connection status regularly.

[2016-08-19 09:32] iverberk commented on #48
On second thought, we could probably set an error handler on the websocket that dispatches an action on disconnect. I'll try to implement something for this.

[2016-08-19 09:37] themalkolm commented on #48
Sounds fancy. I believe timestamp approach is much easier and more reliable. Yep, stupid but will work if you miss somehow errors or whatever.

[2016-08-19 09:40] iverberk commented on #48
So what is ```too late``` in that case? The choice is pretty arbitrary and we would still need to have some kind of oversight process that actually checks this regularly.

It's not that fancy, the websocket object has native methods for handling disconnects which we can leverage. I'll create something for this.

[2016-08-19 09:45] themalkolm commented on #48
kk

[2016-08-19 09:45] themalkolm commented on #48
Maybe this issue must be split into multiple ones.

[2016-08-19 09:46] iverberk commented on #48
yeah, the first one is a backend only issue and the third one is also mainly a backend issue. We could work on them separately.

[2016-08-19 09:59] bkmit commented on #15
It is OK for me to have at least hard coded path. Better not so generic as consul's /ui.
nomad-ui - good.

[2016-08-19 10:18] themalkolm opened #49 "Why do we use /jobs prefix even for querying a single job?"
I just spent some quality time debugging piece of my code to realize that I was naturally using `/job/` prefix but we actually use `/jobs` everywhere!

[code]

So what is the idea? Is it just a copy-paste legacy? Should we fix this?

[2016-08-19 10:23] iverberk commented on #49
This is stuff for religious REST architecture debates (look up "rest plural" on google :-) but generally the reasoning is that we only have to worry about a single rest endpoint for the entire collection and that we can select a single element from the collection by specifying the id. I think this keeps things consistent and is quite nice as a design. Don't really want to change this.

[2016-08-19 10:33] themalkolm commented on #49
Won't it make sense follow whatever decision is done in nomad itself? So less context switching and easier to guess what renders what.

[2016-08-19 10:38] themalkolm commented on #49
So you just checked nomad and wanted to try it. You open v1/job/<some id> and see raw json output. Nice, now you want to see same data but in nomad ui. Where do you go?

If we copy REST api at some extend - you just change hostname and it works - you get a nice web page.

If we change REST plurals (whatever) - you can't guess, you have to click, click, click to find it.

[2016-08-19 10:38] themalkolm commented on #49
So we can add v1 prefix as well to copy it completely.

[2016-08-19 10:46] iverberk commented on #49
The convention for plural form is also used by frameworks like Ruby on Rails, Django, Laravel, etc. So that's another source for choosing this convention.

[2016-08-19 10:55] themalkolm commented on #49
No, the idea is to allow user to transfer his knowledge from nomads api to nomad-ui itself.

[2016-08-19 11:05] iverberk commented on #49
ok, I can see the appeal, let me think about this. If we do this I want it to map 1:1 and not some kind of mixed bag.

[2016-08-19 11:18] themalkolm commented on #49
Sorry if I'm pushy. I'm trying to hack something usable in couple of weeks and less context switches I have - less bugs I have. I just would like to keep `1:1` mapping with extensions on our side.

So, if you have v1/job/banana in nomad API, then you have v1/job/banana view as well. *But* we can always extend it i.e. add extra v1/job/banana/taskGroups that is not present in nomad itself.

I unders

[2016-08-19 14:15] themalkolm opened #55 "Shouldn't headers be visible even if there are now rows?"
Currently we show nothing if there are now rows e.g. no allocations.

![image](https://cloud.githubusercontent.com/assets/864186/17812606/145353ba-6628-11e6-8ce3-37d0a8fbeae0.png)

Won't it make more sense to show empty table instead?

![image](https://cloud.githubusercontent.com/assets/864186/17812598/0690c58c-6628-11e6-8a54-0f0484b99314.png)

What do you think?

[2016-08-19 14:32] themalkolm opened #56 "It is invalid to list all job tasks in a single table"
The thing is tasks are inside task groups. This way task name is unique only within task group but is *not* unique within job.

So main job/:jobId/info view errors with following error:

[code]

[2016-08-19 16:22] #56 closed

[2016-08-19 16:34] iverberk commented on #55
Yeah, it's probably more indicative that there really are no allocations and not some random error happening.

[2016-08-19 16:36] iverberk commented on #15
Ok, I'm going to use the 'nomad-ui' hardcoded path and put a redirect from / to /nomad-ui.

[2016-08-19 16:37] iverberk commented on #20
This issue has been resolved and will be in the next release (working on that now).

[2016-08-19 16:37] #20 closed

[2016-08-19 16:50] iverberk commented on #44
I've updated the dependency to 0.4.1 and re-enabled the log streaming.

[2016-08-19 16:50] #44 closed

[2016-08-19 18:13] iverberk commented on #15
This turning out harder than expected because of the way the backend and frontend are wired together (at build- and runtime). I'm also not really keen on hardcoding the nomad-ui path everywhere just for the sake of this.

@bkmit is there really no other way to configure this in the loadbalancer? You can hardly expect every web application to provide a nice subpath for you? How do you deal with tho

[2016-08-22 07:37] themalkolm commented on #55
OK

[2016-08-22 07:44] bkmit commented on #15
@iverberk: my main intent for this issue was to not introduce one more moving part (nginx) for integration. Unfortunately Go and JS is not my native tongues, and I can't make good quality PR beyond some 1-liners.
If it's not too hard to rewrite frontend and backend parts to not use absolute hrefs for assets and ws - this will fix a problem.

[2016-08-24 06:36] jippi opened #62 "Release to DockerHub"
Hi @iverberk

When do you plan to ship the next image on dockerhub ? :)

[2016-08-24 06:39] themalkolm commented on #62
It is easy to configure automatic builds on docker hub.

[2016-08-24 08:23] iverberk commented on #62
I've configured the automated builds on the Docker hub. I'm now working on the github releases as they serve as input for the Docker build (linux-binary).

[2016-08-24 13:56] gnur opened #67 "Proxy all requests to the nomad cluster?"
I am running a nomad cluster and all communication for nomad is happening on the internal network and is not reachable on the outside.

I would like to use the nomad UI to easily see the state of the nomad cluster and the jobs in it. I use consul for service discovery and use nomad itself to run the nomad-ui docker container, but if I pass the "NOMAD_ADDR=nomad.service.consul" environment variable

[2016-08-24 14:01] gnur commented on #67
I tried to proxy the requests, but somewhere it is hardcoded to make the requests to consul on http://, so the debugger ends up spewing messages like:

`client.js:839Mixed Content: The page at 'https://nomad.redacted.tld/#/cluster?_k=ts4h4c' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://https//nomad.redacted.tld:443/v1/evaluations?index=1'. This request has been

[2016-08-24 14:10] themalkolm commented on #67
Random thought. You can run nomad-ui on every node where server is running. This way you can discover the state of the world as it is on every cluster member. :D

[2016-08-24 14:44] jippi commented on #62
@iverberk how did it go with docker builds? i've been stalking during the day, and you've been jumping back and forth between auto-build and not - any issues?

[2016-08-24 16:01] iverberk commented on #62
@jippi it didn't go a smoothly as I would have hoped. Instead of building separately with Docker Hub I just want Travis to push an image after a successful build. Maybe I didn't look enough into the Docker Hub builds but it makes more sense to me to just let Travis take care of it since we already have the binary at that point.

I'm trying to get the following logic to work:

A new image will be p

[2016-08-24 17:11] iverberk commented on #62
We're getting somewhere now. Just needs a little fine-tuning but I've got to go now. I'll try to look at it later tonight.

[2016-08-25 08:28] far-blue opened #72 "Expose port 3000 in the Dockerfile"
Hi :)

Rather than port mapping nomad-ui to a port on the host I make use of Fabio to proxy http requests through to containers. However, even when not port-mapped, a container must still expose a port for it to be available to talk to from other containers.

As such, currently (because Nomad can't handle exposed ports) I'm having to create a child image of Nomad-UI just so I can add an 'EXPOSE 30

[2016-08-25 11:47] waterdudu opened #73 "make build error"
here is the console output

[code]

[2016-08-25 11:57] themalkolm commented on #73
It is being build using node v4 but you use v6. Could it be the case?

[code]

[2016-08-25 13:53] waterdudu commented on #73
After installing node v4, `make build` still fails.

[code]

[2016-08-25 14:16] iverberk commented on #73
I just ran 'make build' on a fresh clone and it built without problems for me. Can you try to do the same? From the error it appears that the vendor somehow didn't work or another general problem with you Go environment.

[2016-08-25 14:17] themalkolm commented on #73
Glide didn't fetch deps properly. Try `make clean` & `make all` to try from scratch. It also looks like it is not using the actual glide, so maybe it won't actually help.

[2016-08-25 14:21] themalkolm commented on #73
@iverberk it shouldn't work if you remove glide that is installed in your system

[2016-08-25 14:23] themalkolm commented on #62
Do we really plan to build & upload release for every commit on master?

[2016-08-25 14:26] iverberk commented on #62
No, but I didn't have enough time yesterday to make it nice :-) Will fix tonight. I was hoping that I could publish a 'latest' release to github and tag to Docker hub that gets updated with every new commit to master so that people can try the latest version easily, but it shouldn't generate new releases, it should just overwrite the previous one. With tags we would create a nice tagged release. D

[2016-08-25 14:38] themalkolm commented on #73
@waterdudu you can try to get this patch https://github.com/iverberk/nomad-ui/pull/74 and see if it helps.

[2016-08-25 17:02] iverberk commented on #72
Fixed in 81b500e04a70368d077a49c12357bd972fa1017c

@bkmit: @far-blue is using Fabio as well. Do you think his method will work for you as well, without the configurable prefix?

[2016-08-25 17:02] iverberk commented on #73
@waterdudu let us know if it works for you and I'll merge it in.

[2016-08-25 17:05] iverberk commented on #67
@gnur which version of nomad-ui are you using? Can you try v0.1.1 ? It seems you are using a version where the browser will directly connect to the Nomad server. I've since replaced this with a dedicated Go backend that connects to the server and that you can run inside the network. It will serve up the webapp if you hit it and make a websocket connection to receive updates.

[2016-08-25 17:16] jippi commented on #62
@iverberk not sure if things are supposed to work yet, but `docker run -e NOMAD_ADDR=xxxx -e NOMAD_PORT=4646 -p 8000:3000 iverberk/nomad-ui:latest` (pulled 5min ago) simply outputs `standard_init_linux.go:175: exec user process caused "no such file or directory"`

[2016-08-25 17:22] waterdudu commented on #73
@themalkolm Thanks, it works! @iverberk

[2016-08-25 17:30] iverberk commented on #62
@jippi yeah, I noticed just now. Not sure what's going yet. If I build the Docker image on my local machine it works just fine. Apparently something is different on the Travis environment, not sure what though. Will investigate now.

[2016-08-25 19:47] iverberk commented on #62
@jippi should be all good now. Travis wasn't producing a static binary. I'm going to close this! :-)

[2016-08-25 19:47] #62 closed

[2016-08-25 19:48] iverberk commented on #73
@waterdudu thanks for reporting back, patch has been merged.

[2016-08-25 19:48] #73 closed

[2016-08-25 19:48] iverberk commented on #72
Going to close as the original request is fixed, but please continue the discussion on Fabio because the configurable prefix option is troublesome.

[2016-08-25 19:48] #72 closed

[2016-08-25 22:02] far-blue commented on #15
I believe currently fabio cannot remap prefixes but it is something that's been requested and they are working on it. The current holdup is working out a format for the consul tag used as configuration. At the moment, foo.com/bar will get routed to the destination container at /bar but the plan is to allow foo.com/bar to route to / on a destination which would solve this problem.

I know people ha

[2016-08-26 08:31] bkmit commented on #15
@far-blue: I agree with your arguments about where is best place for url rewriting: it is proxy (nginx, apache, fabio).

[2016-08-26 09:36] far-blue opened #76 "'latest' docker image doesn't show any data"
Maybe this is something you are already aware of - the ws connection works fine but the data coming back has no data. The structures are being returned but the data arrays are empty '[]'.

I assume 'latest' is a 'work in progress'

[2016-08-26 09:53] themalkolm commented on #76
No, they should have data :)

[2016-08-26 09:58] iverberk commented on #76
I just tested the container and it seems to be producing data for me. I ran: docker run --rm -p 3000:3000 iverberk/nomad-ui:latest ./nomad-ui -address=http://x.x.x.x:4646

I will update the Dockerfile to create an entrypoint instead of command. Could there be some kind of communication problem @far-blue ?

[2016-08-26 10:02] far-blue commented on #76
Maybe it's an issue with the NOMAD_ADDR env var value. I guess if all coms is now via websockets then that var should be set to the internal address for nomad rather than the one used by the browser externally.

[2016-08-26 10:06] iverberk commented on #76
yes, the NOMAD_ADDR is only used by the backend component. Wherever you fire up the container, from there you should be able to connect to a nomad server specified with NOMAD_ADDR. The browser connection is only a websocket connection back to the backend component.

[2016-08-26 10:12] far-blue commented on #76
Ah, right, yes. Previously my NOMAD_ADDR value was set to `nomad.server` - the external address. Now it needs to be `http://nomad.service.consul:4646`

[2016-08-26 10:22] far-blue opened #77 "'latest' - error with task groups tab for a job"
When I click on the task group tab for a job I get:

`main.ac0ba49ea4c8c4878963.js:11:26109 TypeError: (0,k["default"]) is not a function. (In '(0,k["default"])(n.ID)', '(0,k["default"])' is an instance of Object)`

After this, it looks like a second web socket is created and the two run in parallel and seem to cause some confusion until you reload the page.

[2016-08-26 10:23] iverberk commented on #77
thanks for reporting this, I noticed it also. @themalkolm any idea what's happening? I can take a look later today.

[2016-08-26 10:37] iverberk commented on #76
Can this be closed or do you have any further questions?

[2016-08-26 10:38] far-blue commented on #76
happy to close it :)

[2016-08-26 10:38] #76 closed

[2016-08-26 11:06] iverberk commented on #77
I just pushed a5d6335b98308635c267680e9a3b4f3f3a8f0a83, which should fix the error. It's now building so try it when a new image is pushed and let me know if it works.

[2016-08-26 11:37] themalkolm commented on #77
Eh, js stuff. Fix if you know what and how :D

[2016-08-26 12:02] themalkolm commented on #77
@iverberk Could you point me to some docs so I get what is the difference between them and what to use?

[2016-08-26 14:50] themalkolm opened #79 "'latest' release name is confusing as it is not a release"

[2016-08-26 14:51] themalkolm commented on #79
Maybe SNAPSHOT will be a better name. Also it makes sense to mark it in github as pre-release to make sure people see it is not prod ready.

[2016-08-26 15:23] iverberk commented on #79
good suggestions, I'll see if I can adjust the settings for travis.

[2016-08-26 15:27] jippi commented on #79
isn't `latest` more or less `master` in git? and stable are tagged releases

[2016-08-26 15:28] iverberk commented on #79
I think Github has some kind of predefined notion of latest because it's not working as I would expect. I would have hoped that the latest release would get overwritten with the latest commit to master, but it isn't.

[2016-08-26 15:35] far-blue commented on #77
I've tested and while the original error has gone away, when I click on a job I'm now getting the following every few seconds in the console and each error causes another websocket to be opened:

`Invariant Violation: Minified React error #31; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7BLTarget%2C%20RTarget%2C%20Operand%7D&args[]= for

[2016-08-26 15:36] far-blue commented on #77
Don't you just love React stack traces ;)

[2016-08-26 15:49] iverberk commented on #77
hmm, I tried to reproduce this but couldn't. Any particular path you are following that triggers this behaviour?

[2016-08-26 16:01] iverberk commented on #15
@bkmit would you be okay with me closing this issue? There are technical difficulties with a configurable prefix because of the way nomad-ui is architected. Forcing it would result in ugly hacks which I'm not quite prepared to do.

[2016-08-26 16:29] themalkolm commented on #79
@jippi latest was under 'release' tab so go wonder why it is not a release actually

[2016-08-29 06:43] bkmit commented on #15
It's OK.

[2016-08-29 06:43] #15 closed

[2016-08-31 09:32] gnur commented on #67
Latest docker image seems to be working, perhaps the releases in github should be tagged with minimal versions as well, 0.1.0 has been the current release for a while now..

[2016-08-31 16:47] iverberk opened #83 "Create UI tests"
We should test that all the screens work as expected in the frontend.

[2016-08-31 16:50] #55 closed

[2016-08-31 16:50] #49 closed

[2016-08-31 16:50] themalkolm commented on #47
Nah, won't do it.

[2016-08-31 16:50] #47 closed

[2016-08-31 16:51] themalkolm commented on #79
Nah

[2016-08-31 16:51] #79 closed

[2016-08-31 16:52] #43 closed

[2016-08-31 16:53] themalkolm commented on #48
Personally I fixed it for myself but merging upstream takes ages. I close all my tickets and move away from upstream.

[2016-08-31 16:53] #48 closed

[2016-08-31 16:57] iverberk commented on #48
I'm sorry it took too long for you. I'm actually updating issues and merging PR's right now while on vacation. Unfortunately I can't respond to all issues and PR's on a daily basis. I'd like to thank you for your nice contributions and wish you the best.

[2016-08-31 18:09] jippi commented on #48
@themalkolm @iverberk that was early in the project to fork? why not share commit-bit and put some trust in the combined result will in the end yield something better for everyone? maybe move it to a non-personal org as well to life it above just one person?

[2016-09-01 12:51] iverberk commented on #77
@far-blue do you have any more context or information on how to reproduce this? Can't seem to trigger it locally.

[2016-09-01 14:42] far-blue commented on #77
I've just tried the latest 'latest' and the problem has gone away so I think it best to walk away and pretend nothing happened ;)

[2016-09-01 15:19] iverberk commented on #77
Haha, ok, thanks for reporting back and if the issue returns be sure to let me know.

[2016-09-01 15:19] #77 closed

[2016-09-01 15:28] iverberk commented on #67
@gnur that's good to hear. I'll take another look at the github releases, currently it's not working as expected, thanks for the pointer.

[2016-09-01 15:28] #67 closed

[2016-09-04 13:45] jippi commented on #48
@themalkolm @iverberk did guys make up again or?

@themalkolm where did you put your fork?

[2016-09-04 13:46] jippi commented on #4
any progress on this one @iverberk ? :)

[2016-09-04 14:49] themalkolm commented on #48
@jippi no, nothing happened. I moved to our corporate github repo so I can actually work on it during working hours as well.

[2016-09-04 15:18] jippi commented on #48
@themalkolm is that public somewhere?

[2016-09-04 16:31] themalkolm commented on #48
@jippi nope

[2016-09-04 16:40] jippi commented on #48
@themalkolm do you plan to upstream any of it? :)

[2016-09-04 16:48] themalkolm commented on #48
@jippi not now, sorry.

[2016-09-05 09:20] oryband opened #84 "Automatically release to DockerHub using automated build or Travic-CI"
Hi!

Amazing project! Way to go and keep up the good work.

I've noticed v0.1.1 was released but the Docker image with this tag isn't yet available in DockerHub.
Can you please either set up an automated build on DockerHub or `docker build` and `docker push` in Travis?

Thanks.

[2016-09-06 15:06] far-blue opened #85 "Websockets break after ~ 24 hours"
If I leave nomad-ui open overnight I find by the next day all the data has disappeared - no circular diagrams, no members, no nodes etc. This appears to be a websocket thing. If I reload the page, open it in a different browser etc. I see the same problem - no data and no 'frames' back from the websocket.

I can't see any output of use in the nomad logs.

The only solution seems to be to restart t

[2016-09-06 15:14] johnoc2000 commented on #85
@far blue - I have seen the same behaviour over the last couple of days. Sometimes it is more frequent than 24 hours.
I see it with initial version and snapshot both

[2016-09-06 15:14] johnoc2000 commented on #85
@far-blue - I have seen the same behaviour over the last couple of days. Sometimes it is more frequent than 24 hours.
I see it with initial version and snapshot both

[2016-09-06 15:39] iverberk commented on #85
Ok, I'll leave it running overnight and see if I can reproduce the problem. One option is that nomad-ui is not getting any new information from Nomad anymore. It uses blocking queries for the most part to get new updates when they happen. Maybe somehow this gets stuck. The other option is that is breaking and/or not accepting (websocket) connections. I'll report back asap, if any more information

[2016-09-06 16:48] themalkolm commented on #85
Actually WebSocket never reconnects on UI side. These tasks should be canceled when socket is closed:

https://github.com/iverberk/nomad-ui/blob/master/src/sagas/event.js#L83

[2016-09-07 06:10] iverberk commented on #85
I've been able to reproduce the problem. I'll investigate further. It indeed looks like a server side problem. Will keep you updated.

[2016-09-07 06:40] jippi commented on #85
if its cross-network, it could simply be a firewall killing long-time connections as part of it's configuration. Most consumer grade routers do not allow multi-day connections to stay alive, idle or not :)

[2016-09-07 06:43] iverberk commented on #85
yeah I'm not too worried about the websocket connection being terminated, a simple browser reload would fix that or we could build in a reconnection/keep-alive mechanism to make it more resilient. The problem is that opening the webapp in a new window or browser does not yield any information when there definitely should be information from Nomad. Somehow the state is lost in the server and I need

[2016-09-08 17:01] iverberk commented on #84
@oryband thanks for you kind words. I'll fix up the deployments.

[2016-09-08 17:05] iverberk commented on #85
So I think I know what's causing this and it should be fixed by 78dbff25b8ab52ffb102e7a519cc7050080e3a81

If the websocket connection terminates unexpectedly it would exit the write loop immediately. This means that nothing is checking the send channel anymore. However, there might still be updates being sent to the channel. This caused a blocking send that would never recover. Instead of exiting

[2016-09-08 19:52] iverberk commented on #84
v0.1.2 was just released to github and Docker Hub.

[2016-09-08 19:52] #84 closed

[2016-09-12 15:40] mohitarora commented on #8
+1 for this

[2016-09-12 15:44] johnoc2000 commented on #8
+1 for this

[2016-09-12 17:24] iverberk commented on #85
Going to close this. Let me know if the problem is not fixed.

[2016-09-12 17:24] #85 closed

[2016-09-15 09:22] dropje86 opened #87 "UI fails on parsing TaskGroup "constraints""
When viewing a TaskGroup which has constraints configured the UI fails hard and doesn't recover until a hard reload.

Reproduce:
[code]

Open up the UI and navigate to the nomad-ui job (which has a constraint configured)

[2016-09-15 09:28] iverberk commented on #87
I could reproduce. Will try to fix asap. Thanks for giving a reproduction example.

[2016-09-15 09:36] dropje86 commented on #87
Thanks for your fast reply!

[2016-09-15 09:49] dropje86 opened #88 "[feature] tail functionality for logs"
### Feature request

When dealing with large amounts of log lines it becomes impossible to view them in the UI. It would be nice to be able to switch to a "tail" like view to not flood the browser with thousands of lines. This has been implemented in the [nomad cli](https://github.com/hashicorp/nomad/blob/32172ec06ac86cf5370fa9e59ab329bc72c088ba/command/fs.go#L250) but being able to do it from the

[2016-09-16 07:54] iverberk commented on #88
You're absolutely right. Any ideas on how many lines we should display? I'll probably implement this in the backend with the nomad cli options so that we never flood the browser with too many log lines. Maybe we could add an option to download the complete log if necessary?

[2016-09-16 08:07] iverberk commented on #87
This should be 'fixed' by 5531844735c8ae3db2a99f8cdd0e95d68e40ccc7. I've removed the display of constraints on the tables for the info and taskgroup tab of a job. There can be multiple constraints, each with a left target, operand and right target. This is not suitable for display in the table and should get a dedicated UI section if necessary. For now  the constraints can be viewed in the raw JSO

[2016-09-16 09:04] dropje86 commented on #88
This sounds absolutely perfect..

I'm not sure on what would be a good default to display. Making it configurable might unnecessarily clutter the UI. You could say that a tail from the UI is equivalent to a `tail -n0 -f file.log` or just 15 lines or something. I assume that most clients should be able to have a resolution which supports that.

[2016-09-16 09:07] iverberk commented on #88
Yeah, let's keep the number of lines to something sensible that will work on most resolutions. I'll try some settings. We should probably keep the height of the log display steady and allow scrolling through the logs that have been added during viewing of the tail. If you navigate away from the log view the whole thing gets reset. The download option should take care of wanting a complete output l

[2016-09-16 09:08] dropje86 commented on #87
It does! Thanks for the quick fix! Any chance you can actually tag this into a release?

[2016-09-16 09:09] iverberk commented on #87
Since this addresses a severe bug I will tag a point release (v0.1.3).

[2016-09-16 09:12] dropje86 commented on #88
Sir, you are awesome.. And btw, this project really complements Nomad perfectly. Nicely done!

[2016-09-16 09:14] iverberk commented on #88
Thanks for the kind words!

I have a lot of plans to extend the functionality to further complement Nomad, just need to find the time to implement it all :-)

[2016-09-16 09:14] #88 closed

[2016-09-16 09:14] #87 closed

[2016-09-27 11:02] jippi opened #89 "refresh loads no data on all pages"
Hi

Navigating to `http://localhost:8000/#/members/5b3a8a63-3a12-d0b1-2668-9407e94374b2/info?_k=tbi8os` and refreshing the page yields no data / node info

If i navigate to the page again from the menu, it works fine

This seem to be for all non-index / list pages

The server log outputs

`11:01:04.241 connection.go:49 ▶ ERRO  Could not write close message to websocket: websocket: close sent`

I'm

[2016-09-27 11:19] themalkolm commented on #89
Yep, almost every page is broken in this way. This is due the fact that on complete refresh/fresh load it requests information (watches) before websocket connection is even established. This effectively makes page believe that has requested information while actually nothing happened.

The reason it works for list pages is because there is internal caching for them on backend side.

[2016-09-27 11:27] jippi commented on #89
okay, any workaround / fix for this ? :)

[2016-09-27 11:30] jippi commented on #89
@themalkolm did you continue working on your fork somewhere? I'm currently switching from supervisor to nomad, and would be nice with a nomad-ui that is somewhat functional for basics, and you seemed to have a good pace when you participated in the repo

[2016-09-27 11:30] themalkolm commented on #89
The workaround is to always navigate from the index page.

[2016-09-27 11:38] themalkolm commented on #89
@jippi yes, I keep working on it. I can't share it but I can share our experience and issues you are guaranteed to face e.g. try to schedule 1000 jobs and try to make sense of what is going on in the cluster using this ui :) It will also likely to simply die due exceeding number of objects.

[2016-09-27 11:49] jippi opened #90 "short/long term project goals"
@iverberk thanks for a great project

could you share your thoughts on short and maybe long term goals you want to work on?

I'm currently moving our infrastructure from supervisor to nomad, and a UI is essential for that being a successful migration.

We do have some react resources at bownty, so we should be able to give something back (ala what @themalkolm did back in the beginning) to help mov

[2016-09-27 12:26] iverberk commented on #89
@jippi I will fix this problem for you, are there any other concerns that you have that need attention? This really helps me in prioritizing issues.

@themalkolm if you have the luxury of working on this at your day job why don't you make a public repo so that we can all contribute back to that and then you can maintain it and deal with the issues/PR's, instead of telling people what is wrong with

[2016-09-27 12:34] themalkolm commented on #89
@iverberk I thought it is obvious. I can't share my code as it belongs to the company. What is wrong with me pointing out potential problems a future user will face?

[2016-09-27 12:36] themalkolm commented on #89
So, instead of being frustrated @jippi now at least know that there is somebody who probably has answers / ideas to common problems due actually using this project in production. I see this as a _good_ thing.

[2016-09-27 12:39] iverberk commented on #90
@jippi this is really helpful. I will try to come up with an answer shortly!

[2016-09-27 12:49] iverberk commented on #89
Ok, reading back on your reactions I might have overreacted as you are simply stating the case. There's nothing wrong with it and I agree that it is a good thing that you are telling about your experiences in production use, as I'm not using it in production myself. Maybe you can share those experiences in the form of issues that you've encountered (not necessarily PR's) so that other people who a

[2016-09-27 12:55] themalkolm commented on #89
@iverberk no hard feelings.

We do consider sharing back our experience but we are still in the pre-alpha stage for our project.. We are rushing though and constantly changing things all around.

While I can help explain current bugs or limitations, I don't have 100% certainty in our approach as we are yet to release it to our internal customer and see it in action for long run.

[2016-09-27 13:22] jippi commented on #89
@iverberk do you plan to run this project yourself in production level environment anytime soon ?

Having a project owner that doesn't use the project in production himself could be poential danger zone (abdondon project / not every-day user / lack of spare-time to work on it / not equally suffering from pain points in the usage)

I haven't observed any of these issues yet for nomad-ui though! if

[2016-09-27 18:35] dropje86 commented on #89
Just for the sake of it. We're also currently ramping up our Nomad deployment and expect to run all of our services dockerized and scheduled by Nomad within 6 months. One of the biggest downsides so far is that Hashicorps Atlas will not be deployed in our company due to both technical constraints (AWS only support so far) and the maturity of the product in general. For now we're happy customers of

[2016-09-28 16:27] carlpett opened #91 "UI breaks on very wide screen"
I'm blessed with a 3440x1440 screen at work. Looking at the ui at this width causes overflowing in the Job overview:

![image](https://cloud.githubusercontent.com/assets/214867/18922437/eba06070-85a8-11e6-9330-7d72335dfef6.png)

I tried figuring out what causes this, but so far I'm stumped. The charts, while too large for their containers, do not cause all the extra height to be added as far as I

[2016-09-28 18:38] iverberk commented on #89
@jippi I'm probably not going to run it in a production environment any time soon. At my current client they are not using Nomad unfortunately and personally I don't have a use-case running it in production. I understand your concern and I would also rather see that I can evolve the project based on actual working hours and production usage but alas...

This is the blessing and curse of doing open

[2016-09-28 18:40] iverberk commented on #91
That's a big screen! :-D

I might have trouble reproducing this since I can't replicate the resolution but I agree that the charts are a little bit funky. Are you at all able to investigate this yourself? Maybe by tweaking the css a little bit in the browser. Let me know and I'll see what I can think of.

[2016-09-28 19:02] iverberk commented on #90
@jippi thanks for your thoughts.

So I fully intend for this project to give you all the necessary information/overviews to manage a big Nomad cluster. This means full insight in the data structures, state, stats and messages. Marathon, Kubernetes etc. all have a UI to get a quick overview of the state of the cluster and I hope this project will do the same for Nomad.

Since I'm unfortunately not

[2016-09-29 07:31] jippi opened #92 "consistent sorting on event time / name"
Most pages doesn't seem to enforce any kind of consistent sorting on the data.

E.g. `members` page change sorting randomly.

My suggesting is to apply ordering like this where possible (order of importance)

- sort by event time with newest first on resources where such an event time is present
- sort by criticality (running/status, with bad states first) and then on name
- sort by name

ideally

[2016-09-29 07:42] jippi opened #93 "basic filtering"
Being able to filter lists by "simple" means would be very powerful

`freetext` = leftmost matching ala `nomad` would match `nomad%` (from SQL)
`enum` = dropdown
- `Members`
  - ID = feetext
  - Datacenter = enum
  - Name = freetext
  - Class = enum
  - Drain = enum
  - Status = enum
- `Nodes`
  - ID = freetext
  - DC = enum
  - Name = enum
  - Class = enum
  - Drain = enum
  - Status = enum
- `Jo

[2016-09-29 07:46] jippi opened #94 "additional data on "/jobs" page"
Hi,

on the jobs page, it would be nice to expose the `JobSummary` data to each row, to give a sense of the health of the job(s) - it could be a sum of all the different `JobSummary` aggregated into one column per row (e.g. Queued, Complete, Failed, Running, Starting and so on)

Also exposing the number of task groups below the job would be nice (maybe with a identicator on how many are health / b

[2016-09-29 07:49] jippi opened #95 "new page "/job-health""
Having a list of all jobs / task groups / tasks that is in a bad / pending / progress / good state (broken down on this) would be amazing for a quick overview

[2016-09-29 07:50] jippi opened #96 "use node name for NODE value in /allocations"
Currently the `Node` column output the ID of the node, would be nice if it could show the node name instead - I'm much better at remembering node names compared to node ids :)

[2016-09-29 07:51] jippi opened #97 "expose TaskStates on allocation page"
outputting the TaskStates for each task group would be nice!

[2016-09-29 09:07] jippi opened #98 "`Minified React error #31` on /jobs/:id"
I'm getting the following error on `#/jobs/insights-worker`

[code]

My job file (json)

[code]

[2016-09-29 09:25] themalkolm commented on #93
I just mention here that you probably want to make a conscious decision where you do this: frontend or backend.

Frontend side is very easy to do. You can use, say, https://github.com/glittershark/reactable and in no time you will get basic sorting/filtering everywhere. We did it this way. Shiny and cool.

Backend side is a bit trickier as it will require proper sync of sort/filter states between

[2016-09-29 09:35] jippi commented on #93
My personal preference is to do it client side, and fix server side once it becomes needed / required.

Right now, imo, doing it fast is better than doing it right for most of the basic features.

Once the problem domain is well understood, then we can push it to the backend :)

[2016-09-29 09:36] themalkolm commented on #93
Sure, just saying that later it will require you to redo everything. We had this and it was annoying to throw away everything due pushing everything to be.

[2016-09-29 09:46] jippi opened #99 ""Unable to connect to the backend...""
When trying to develop on the project locally, running `npm start` in `frontend/` and then accessing localhost:3333 I get `Unable to connect to the backend...` in the dev-console

I assume the go server would need to run, but `ws://localhost:3333/ws` is routed through webpack, and not into the go server (which is port 3000?)

[2016-09-29 09:48] iverberk commented on #99
This currently requires a manual change in sagas/events.js. You need to set the url to the backend that you want to connect to.

For example:  const url = `${protocol}//127.0.0.1:3000/ws`;

[2016-09-29 11:39] jippi commented on #99
Thanks

[2016-09-29 11:39] #99 closed

[2016-09-29 19:34] carlpett commented on #91
I'm doing some investigations now, I'll see what I can find. There was nothing obvious from using the dev console, but I'm taking a deeper look into the code instead.

[2016-09-30 06:45] jippi opened #101 "RFC; change backend from go to nodejs"
Just a personal preference here, since i don't know Go at all :)

Considering we already heavily use js for the frontend, it may be easier for new contributors to start out if the backend also is js rather than a 2nd language.

Some of the ideas I have for the project I could easily implement in node, but won't be impossible for me to do in Go.

Considering the fairly simple backend, it should be

[2016-09-30 06:49] jippi opened #102 "new #nomad-ui slack channel in Hangops"
I've added a #nomad-ui room in the Hangops community on Slack ( https://signup.hangops.com/ )

There are already a huge number of people in #hashicorp and #docker channels, so seem like the right place to keep it around :)

[2016-09-30 08:05] iverberk commented on #102
I'd rather we use Gitter if you don't mind. Nomad already has a room there and it seems a little bit more geared towards developers and structured around a project/repository. What do you think?

[2016-09-30 08:18] iverberk commented on #101
My personal preference is Go, because I don't know how to create a backend in Node :-)

Kidding aside, there is a big advantage to using Go and that is that we get to piggyback on the Nomad API package which will always be maintained and developed as part of Nomad. This way we don't have to bother with keeping in sync with API and just get to use all the good stuff.

Backend work is definitely dif

[2016-09-30 08:46] themalkolm commented on #101
I agree that it is the best thing to distribute nomad-ui same as nomad itself i.e. via native binaries.

[2016-09-30 08:48] jippi commented on #101
ok, I yield then :)

[2016-09-30 08:48] #101 closed

[2016-09-30 08:50] jippi commented on #102
where is that gitter room? :)

never used gitter before, and personal preference is that i (personally) would like to not have a 4th chat client for open source chatter. IRC, Twitter and Slack is already hard to keep up with :)

Hangops is more or less the de facto community for tech stuff, and 700+ people in the hashicorp room is more or less our prime audience :)

[2016-09-30 09:08] iverberk commented on #102
https://gitter.im/hashicorp-nomad/Lobby

I fully understand the desire not to have another app for communication. The compelling reason for me is the fact that HashiCorp has decided to use Gitter for Nomad and that the devs and users are there. It's specific to Nomad which would align nicely with this project :-)

I think/expect that HashiCorp will move more communications to Gitter in the future,

[2016-09-30 09:10] jippi commented on #102
If it's Nomad's way of doing it, lets roll with it :)

[2016-09-30 09:10] #102 closed

[2016-09-30 09:11] jippi commented on #102
@iverberk before moving it, would it make sense to move nomad-ui to a org to make it independent of one single person, since gitter also stick to username/repo ?

[2016-10-01 13:41] #98 closed

[2016-10-01 13:47] iverberk commented on #89
Fixed by @jippi in #100

[2016-10-01 13:47] #89 closed

[2016-10-01 13:48] iverberk commented on #90
I'm going to close this. We'll create issues/milestones to lay out the roadmap.

[2016-10-01 13:48] #90 closed

[2016-10-04 18:24] iverberk commented on #93
@themalkolm did you have significant numbers that made you stray away from client side sorting/filtering? We are considering this now and I'm curious if you have any additional information on this. Thanks!

[2016-10-04 18:41] themalkolm commented on #93
It is about the whole package: pagination, sorting and filtering.

We run several < 10 jobs and each has > 1000 processes. This made UI unresponsive due it's naive approach with sending all list elements every time.

So we still fetch all of them on backend side but send only the current page.

[2016-10-04 19:24] iverberk commented on #93
I assume you didn't create DOM elements for all of them, so the unresponsiveness came from large message transfer and memory size?

[2016-10-04 19:29] themalkolm commented on #93
No,

* Listing all allocations creates DOM elements for all of them (at least the version I used)
* Transferring became bottleneck as well.

Not sure what _exactly_ caused issues there but this or other way sending all elements was identified as the main suspect. So we implemented pagination and everything went back to normal.

[2016-10-04 19:30] themalkolm commented on #93
To make matter worse we restart/update these jobs quite often. This builds up a lot of internal history in nomad i.e. completed allocations.

[2016-10-04 19:33] iverberk commented on #93
yep, those are going to be GC'ed eventually but for sure they stick around for a long time. Filtering on that will definitely reduce the data transfer.

[2016-10-04 19:38] themalkolm commented on #93
Yeah, so this makes UI fast while still requires backend to fetch all data. This is somehow OK as we are OK to give even a dedicated host just for backend to run nicely :) Trading resources for speed of development here.

[2016-10-06 12:18] carlpett commented on #91
I've found the issue, but spent several hours over many days trying to actually get my fix to run. It seems the webpack-stuff somehow magically reverts changes to dashboard.css? Also, the go-bindata stuff doesn't work on Windows, apparently. Maybe an app run on a local network doesn't need to have all those bells and whistles in order to make it simpler?
I'll try to run it on Linux instead, but th

[2016-10-06 13:28] jippi commented on #91
I know what the problem is :) I'll try to fix it this week. :)

[2016-10-06 13:31] jippi commented on #91
@carlpett in regards to getting up and running, clone the repo and do the following

- open /Makefile and comment the 3 version checks (make sure you aprox these versions though :))
- `make build`
- `cd frontend ; npm start`
- (start a new tab and nagivate to the root project)
- `cd backend ; NOMAD_ADDR=http://<your nomad cluster ip>:4646 ./build/nomad-ui-<your arch>`

Thats what i've been doing s

[2016-10-06 14:49] jippi commented on #96
already done :)

[2016-10-06 14:49] #96 closed

[2016-10-06 14:49] jippi commented on #94
already done too! :)

[2016-10-06 14:49] #94 closed

[2016-10-06 14:52] jippi commented on #97
also done (holy shit I'm fast!)

[2016-10-06 14:52] #97 closed

[2016-10-06 14:53] jippi commented on #4
i haven't noticed any out-of-order issues for a while - i guess either nomad or we fixed this? :)

[2016-10-06 14:54] jippi commented on #92
duplicate of #4

[2016-10-06 14:54] #92 closed

[2016-10-07 15:48] carlpett commented on #91
Ok, so I just can't get this to work properly in my Windows environment, and I don't have a Linux machine available right now (sigh). (I tried with the new Bash on Windows 10 thing, but it does not fully implement some network stuff, and apparently there is a dependency called `macaddress.js` which does not compile if there is no network interface...).

So, the issue is with the selectors ` .ct-pe

[2016-10-07 17:05] jippi commented on #91
@carlpett fyi, if you use `latest` in ~5min this should be fixed :)

[2016-10-07 17:09] carlpett commented on #91
I'll take you up on that! :)

[2016-10-07 17:11] jippi commented on #91
@carlpett there you go   https://hub.docker.com/r/iverberk/nomad-ui/tags/

[2016-10-07 17:18] carlpett commented on #91
@jippi Hm, the layout is at least completely different, but it does not seem to actually work? Everything is blank.
Console output: `TypeError: Cannot read property 'Summary' of null`. I can sanitize the stack trace and upload it if it is useful, but the minified stuff doesn't seem to say much. The container doesn't have any output besides "Connecting to nomad" and "Listening..."

[2016-10-07 17:19] carlpett commented on #91
Should note though that it does list my jobs, so it can connect to Nomad. Just something with the overview that is broken.

[2016-10-07 17:20] jippi commented on #91
@carlpett what nomad version do you use?

[2016-10-07 17:21] carlpett commented on #91
`0.4.0`

[2016-10-07 17:23] jippi commented on #91
currently we depend on `0.4.1` which provide some job summaries we use for statistics

[2016-10-07 17:23] jippi commented on #91
I can try to hack around the issue in a few

[2016-10-07 17:24] carlpett commented on #91
Aha. Ok, I'm not going to upgrade the cluster at 7:30 a friday night, though :)

[2016-10-07 17:37] jippi commented on #91
@carlpett I'm going to merge https://github.com/iverberk/nomad-ui/pull/113 as a fix once Jenkins is done :)

[2016-10-07 17:49] #91 closed

[2016-10-07 17:50] jippi commented on #91
@carlpett once the merge commit is finished, try and pull `latest` again :)

[2016-10-07 17:56] jippi commented on #91
@carlpett try `latest` now :)

[2016-10-07 18:51] carlpett commented on #91
Sorry, still doesn't work. Actually seems worse - I can no longer visit the other tabs. Clicking the links in the sidebar gives `Cannot read property 'getHostNode' of null`. Clicking "Cluster" again gives a minified error with a link to the react homepage and the de-minified error `Attempted to update component `Connect(t` that has already been unmounted (or failed to mount).` (probably just a fol

[2016-10-07 18:54] carlpett commented on #7
I can see the value in this, but I would prefer if I could toggle it off (environment var for example). The ui provides great insight for all the development teams, but we don't want a separate ad-hoc deployment pipeline from it.

[2016-10-07 19:13] jippi commented on #91
@carlpett what browser do you use?

[2016-10-07 19:16] jippi commented on #91
@carlpett i can reproduce it, will push a fix now

[2016-10-07 19:41] jippi commented on #91
@carlpett found a fix, just pushed it to https://github.com/iverberk/nomad-ui/pull/115  should be in dockerhub in ~10min

[2016-10-07 19:58] jippi commented on #91
@carlpett its now live on dockerhub :)

[2016-10-07 20:07] carlpett commented on #91
@jippi Now it works! Great :)
I normally use Chrome, but when I had the cache issues I tested IE. Surprising noone, it doesn't work. While it doesn't feel like a prime target (esp if the project can't even be developed on Windows), it is a bit strange that it doesn't work. Just white page, no errors in console. I'll file a separate issue.

[2016-10-07 20:10] carlpett opened #116 "Doesn't work in Internet Explorer"
Not high prio, but when having different issues, I tested with Internet Explorer. The app doesn't even render. Doesn't write anything to the console either.
While IE is not a targeted browser understandably, I'm guessing it _should_ work. If nothing else then because it might point to something deeper.

[2016-10-08 07:52] jippi commented on #116
@carlpett is it IE11 or Edge thats failing?

[2016-10-08 08:46] carlpett commented on #116
IE11

[2016-10-08 09:14] #116 closed

[2016-10-08 09:14] jippi commented on #116
@carlpett when travis pushes a new `latest` it should work (tm)

[2016-10-08 09:21] jippi commented on #116
@carlpett `latest` work for me in Edge and IE11 now! Thanks for reporting :)

[2016-10-11 07:03] iverberk commented on #7
@carlpett duly noted. I can understand that you want additional the deployments shielded.

[2016-10-11 07:04] iverberk commented on #88
@dropje86 I'm working on this in #118, should be in somewhere this week.

[2016-10-11 15:26] dropje86 commented on #88
Thanks, I have been following 😄  👍

[2016-10-12 06:52] carlpett opened #119 "If WebSocket closed, stale data is presented without warning"
My machine is in sleep mode during the night, and when I opened it up in the morning all the data shown in nomad-ui was the "last shown". No matter what job or allocation I clicked, I got the details for the same thing I last viewed yesterday. After some confusion, I checked the console output and there was a lot of "Websocket is in closing or closed state" errors. A hard refresh fixed it.

Propos

[2016-10-12 06:54] iverberk commented on #119
I'm sorry you had a bad experience. We will do both those things: visually indicate when the frontend has a valid connection to the backend and retry logic in case of failures. This has been on the list for a while and will be implemented asap. Thanks for reporting!

[2016-10-16 19:39] #10 closed

[2016-10-16 19:39] jippi commented on #10
I'm considering this closed, since we don't show graphs any more ;)

[2016-10-25 08:58] kaskavalci opened #127 "Auto refresh minimizes extended raw arrays"
Raw data is not all expanded and it is very hard to investigate with auto refresh on. Extended arrays are reseted in every ~5 seconds. Example:

![](http://i.giphy.com/3oz8xBQnH6SMHI6McE.gif)

[2016-10-25 09:16] jippi commented on #127
yeah, it's pain in the ass :(

Maybe the JSON should be loaded once and never refreshed

[2016-10-25 12:32] kaskavalci commented on #127
Good idea or maybe have a refresh button for json files. It would really ease my life :)

[2016-10-28 13:52] bastiaanb opened #129 "servers overview incorrectly displays leaders in other regions as followers"
The servers overview shows but the server leader in the local region as leader, not the leaders in other regions.
I would expect the same results as `nomad server-members`.
`frontend/src/containers/servers.js` determines leadership by comparison with a single member ID. Needs to be changed, but don't know how yet....

[2016-10-28 13:54] bastiaanb opened #130 "Support querying other regions"
Nomad-ui shows information only for the local region. It would be nice to be able to select other regions as well, like Consul can.

[2016-10-28 15:45] bastiaanb commented on #129
OK, apparently the frontend side always simply highlighted the first entry.
PR #131 makes it use the info supplied by the server side.
server side to be fixed.

[2016-10-28 16:28] jippi commented on #129
fixed in #131

[2016-10-28 16:28] #129 closed

[2016-11-03 19:22] jemc opened #139 "Show timestamps for Task Events and Allocations."
There are a number of places in the CLI where timestamps are shown, but in `nomad-ui`, they are not shown.  Particularly, I'm thinking of the Task Events and Allocations, though there may be other places.

It would be great if `nomad-ui` could show timestamps in these places, to replicate the information viewable in the CLI.

[2016-11-03 19:28] jippi commented on #139
@jemc if you hover the dotted "time ago in words" it will show time

![image](https://cloud.githubusercontent.com/assets/22841/19981904/1aa32598-a204-11e6-81be-aea0e0333d69.png)

is there cases where i've missed them I'm more than willing to add them now :)

[2016-11-07 21:02] jemc commented on #139
It appears I'm running an old version of `nomad-ui`, and the new version includes timestamps in expected places where the other version did not.

[2016-11-07 21:02] #139 closed

[2016-11-07 21:27] jemc opened #142 "Error: nomad-ui/backend not a go package or not in GOPATH."
As recently as version 0.1.3, I was able to build from source using `env GOBUILD=linux-amd64 make`.

Now, using latest master at the time of this writing (341bfebbd4ff18b6312ae79be5c0eecb79cadec9), it seems to require me to set `GOPATH`:

[code]

When I do set `GOPATH` to point where I usually point it to on the occasions that I need to build someone's Go project, I receive an error that `nomad-ui

[2016-11-07 22:14] Nomon commented on #142
looks like nomad-ui is not cloned under the correct GOPATH, you have your clone path of nomad-ui outside of the GOPATH and when nomad-ui imports a sub package from $GOPATHsrc/github.com/iverberk/nomad-ui/backend it cannot find the package. Either use go get or clone it under GOPATH where it should be at (ie. $GOPATH/src/github.com... instead of /home/jemc/1/code/gitx/nomad-ui/).

[2016-11-07 23:26] jemc commented on #142
Out of curiosity, how does this work in Travis CI?  As far as I know Travis CI doesn't clone the repo into a magical Go-sanctioned path under `src/github.com`, yet, it's still able to build the code.  How is it done in this case?

[2016-11-08 06:41] Nomon commented on #142
https://docs.travis-ci.com/user/languages/go#Go-Import-Path

[2016-11-08 15:42] jemc commented on #142
As far as I can tell, using `go get` doesn't allow you to specify a git tag to fetch, and always fetches master, so that option is out.

I find it pretty darn obnoxious that a piece of Go source code written using these conventions/tooling can only be built in a specific, deeply nested path in a specific location.  Especially when this very same project did not formerly have that restriction.

I'v

[2016-11-08 17:14] jippi commented on #142
this is my env

[code]

[2016-11-08 21:02] jemc commented on #142
The team member I talked to, who uses Go frequently said "the environment that this project is requiring is something I've never experienced before".

Given that this project (as recently as `0.1.3`) did not always require to be cloned into a magic directory, and given that many Go projects also do not have this requirement, would it be possible to make a patch that allows the package to refer to

[2016-11-12 20:14] obenziane2 opened #145 "Issue in getting the API stats from NOMAD"
I'm getting these errors when running the nomad-ui via :
"docker run -e NOMAD_ADDR=10.230.45.40:4648 -p 8000:3000 iverberk/nomad-ui:v0.3.1"

I get a response when i do:

root@lemon:~/nomad-ui# curl  10.230.45.40:4646/v1/jobs

[{"ID":"example","ParentID":"","Name":"example","Type":"service","Priority":50,"Status":"running","StatusDescription":"","JobSummary":{"JobID":"example","Summary":{"cache":{"

[2016-11-12 20:30] jippi commented on #145
Please use `NOMAD_ADDR=http://10.230.45.40:4648` :)

[2016-11-12 20:32] jippi commented on #142
I'm far from an go expert, but nomad itself require, afaik, the same rigid structure to work - so don't think its too alien or steep requirement to have.

The readme should be updated with the additional steps - did my steps in previous reply to this ticket make the environment work for you?

[2016-11-12 21:46] jemc commented on #142
I haven't tried cloning into the magic directory, but I don't doubt that it works.  I was still hoping there would be some discussion of a patch to avoid this requirement.  Either that, or a workaround involving symlinks but so far none of the workarounds I've tried have worked, so I've given up on trying to build the project.

[2016-11-12 21:59] obenziane2 commented on #145
different issue

21:59:04.060 main.go:86 ▶ INFO  | web.listen-address : 0.0.0.0:3000                                  |
21:59:04.061 main.go:87 ▶ INFO  ----------------------------------------------------------------------
21:59:04.061 main.go:88 ▶ INFO
21:59:04.061 main.go:92 ▶ INFO  Connecting to nomad ...
21:59:04.062 main.go:122 ▶ INFO  Listening ...
21:59:04.068 nomad.go:168 ▶ ERRO  watch: un

[2016-11-12 22:01] obenziane2 commented on #145
docker run -e NOMAD_ADDR=http://10.230.45.40:4646 -p 8000:3000 iverberk/nomad-ui:v0.3.1  worked thanks :)  good work!

[2016-11-13 10:17] #145 closed

[2016-11-16 11:14] adrianlop opened #146 "Loading /allocations and /evaluations takes a while"
Hi guys,

I've been using your UI since you released it. really nice job.
I upgraded to 0.3.1, and I like it, tables are nicer now, but it takes a while (in fact, the Chrome tab gets locked a few seconds) to load the allocations and evaluations.

Could you reduce the output, using pagination maybe? what do you think?

thanks!

[2016-11-16 11:24] jippi commented on #146
@adrianlop I'm working on a PoC on improving this - the primary reason for the slowdown is the absurd amount of data that nomad sends for these lists, much of it we don't really need or care for - rendering is actually very fast (~10-20ms) but parsing a huge blob of JSON takes a while :)

[2016-11-16 11:57] adrianlop commented on #146
heheh ok man.
if you need testing don't hesitate coming back to me!
thanks

[2016-11-16 12:18] jippi commented on #146
how many allocations do you typically have in the list?

[2016-11-18 21:59] tmichaud314 opened #147 "Support Nomad 0.5"
Is Nomad 0.5 support planned?  Thanks!!

[2016-11-18 22:12] jippi commented on #147
everything nomad 0.5 works except the `servers` left menu :)

[2016-11-20 16:43] tmichaud314 commented on #147
Hi @jippi,

After a small modification to backend/nomad.go due to a late change in the Nomad Client API (see below), I was able to compile everything and get it to work with the 0.5.0.  After clicking around, things generally seemed to work though I did notice the pie charts (on the landing page) did not display.  Were they removed?

THanks again!

[code]

[2016-11-20 18:06] jippi commented on #147
@tmichaud314 nice, can you submit a PR for it ? :)

and yes, the pie charts are gone :)

[2016-11-20 21:10] tmichaud314 commented on #147
@jippi Here is a PR for that small change: https://github.com/iverberk/nomad-ui/pull/148

[2016-11-21 07:46] jippi commented on #147
Closing as PR is open

[2016-11-21 07:46] #147 closed

[2016-11-25 04:21] peeekkk opened #149 "npm start can't start the webpack-dev-server"
I cloned repository and checked out tag v0.3.1. (same issue with master branch)
When I run `npm install; npm start`, it prints out error messages as shown below.
![npm start err](https://cloud.githubusercontent.com/assets/20275238/20614281/7e4b5e94-b307-11e6-85e3-356b8747aa73.png)

And if I visit the url localhost:3333/index.html, I got a blank page with only bundle.js loaded:
[code]
And bundle.js

[2016-11-29 15:50] jippi opened #150 "[Poll] How do you run nomad-ui today"
Please "react" to this issue with one of the following

- 👍  for docker container
- ❤️  for go binary directly
- 😄  for directly from the source code repo

Comment for other options, if there is one :)

[2016-12-02 13:36] far-blue opened #151 "Miss-labeled evaluation id in the allocation actions popup"
In the allocations table the three-vertical-dot action popup has an entry called 'Allocation' with an id next to it. This should be labeled 'Evaluation'

[2016-12-02 13:38] far-blue opened #152 "Show port mappings in the allocation info"
Where an allocation has port mappings it would be good to show these - possibly with an easy-to-copy format of `<ip>:<port>` somewhere. It would be good to see the port label, nomad assigned port number, whether the port is static and, for docker containers, the map information for that port into the container.

[2016-12-02 13:40] jippi commented on #151
@far-blue fixed in #151 - thanks! :)

[2016-12-02 13:40] jippi commented on #152
i agree! :)

[2016-12-07 05:06] waterdudu opened #154 "missing parentheses"
Frontend build error

Here is the error message:

[code]

It seems parentheses are needed in `./src/components/allocation/files.js`

[2016-12-07 07:32] jippi commented on #154
Hi @waterdudu

As part of the rewrite in #153 this should be fixed :)

Are you working on a new feature, or just building it for local usage? :)

[2016-12-07 10:11] waterdudu commented on #154
Thanks @jippi

Just building it for local usage, it's quite a good tool to manage nomad jobs and allocations rather than using `nomad status`

[2016-12-07 11:05] jippi commented on #154
@waterdudu okay, each release got binaries (go binary) which include everything :)

https://github.com/iverberk/nomad-ui/releases

[2016-12-07 11:34] waterdudu commented on #154
Great! @jippi

[2016-12-07 11:34] #154 closed

[2016-12-09 15:34] #151 closed

[2016-12-10 12:49] jippi commented on #150
Thansk for your feedback!

[2016-12-10 12:49] #150 closed

[2016-12-10 12:50] jippi commented on #149
Hi @peeekkk !

So sorry I missed this issue previously.. Can you give https://github.com/jippi/hashi-ui/blob/master/DEVELOPMENT.md a look and let me know if it fixes your problems?

[2016-12-10 12:51] jippi commented on #146
@adrianlop the latest version of project should provide a great amount of speedup for these lists. Please poke me if that is not the case :)

[2016-12-10 12:51] #146 closed

[2016-12-10 12:51] jippi commented on #142
@jemc I've tried to describe the expectations and workflow i use myself here: https://github.com/jippi/hashi-ui/blob/master/DEVELOPMENT.md

Please let me know if it helps - and if there is any steps that I can take to improve the flow for you

[2016-12-10 12:51] #142 closed

[2016-12-10 12:52] #149 closed

[2016-12-10 12:52] #93 closed

[2016-12-10 12:52] #4 closed

[2016-12-11 20:44] #95 closed

[2016-12-11 20:44] jippi commented on #5
done for clients - https://github.com/jippi/hashi-ui/releases/tag/v0.5.4

[2016-12-11 20:44] #5 closed

[2016-12-11 20:45] jippi commented on #127
@kaskavalci i think this should be fixed now, please let me know if you see this issue still :)

[2016-12-11 20:45] #127 closed

[2016-12-11 20:46] jippi commented on #130
@bastiaanb i agree! i personally only use one region at the moment, so my urgency to add this in is currently not super high - is it something you could help out with? :)

[2016-12-11 20:46] jippi commented on #119
This is my next attack item :)

[2016-12-11 21:02] jippi commented on #8
some work on this is being done here https://github.com/jippi/hashi-ui/pull/128

[2016-12-12 16:02] jippi commented on #119
This has been fixed in https://github.com/jippi/hashi-ui/releases/tag/v0.5.5 :)

[2016-12-12 16:02] #119 closed

[2016-12-12 17:48] vancluever opened #156 "Re-visting UI base path improvements"
Hey all,

I was wondering if we could re-visit #15. This ticket was opened to see if there was a way to get the UI to work on a different prefix other than `/`. The main use case, of course, being full support of reverse proxies.

My use case, in particular, is I'm trying to build a protected front-end proxy to route different paths to both the Consul and Nomad UIs, ie:

`/consul` to Consul (ie: `

[2016-12-12 17:54] jippi commented on #156
@vancluever this is not a personal priority at this time, but i can give it a shot later this week to gauge how easy it would be to hack.

Can you provide me a docker image or some stock configurations that you would like to work out of the box? Then i can try to make things work from there :)

I personally run each service on a different port (`8500` for consul  `3000` for nomad) and just redirec

[2016-12-12 18:29] vancluever commented on #156
Thanks @jippi, yeah that was something I was hoping to avoid (redirecting to native ports), while not necessarily a big deal having the single endpoint just seems cleaner and possibly mentally easier to gateway.

I have all the configs and what not dockerized but I never got around to uploading them this weekend before I had to go this morning - I'll push later and let you know on gitter. :)

[2016-12-12 19:16] jippi commented on #156
Thanks! :)

[2016-12-13 05:14] vancluever commented on #156
Hey @jippi these are up now. Check out 6e80714993d0fc5b65ad56963c37a623cbd27d26 to get an idea of what I've done so far (not saying this code is 100% optimal ;) )

Also my Docker container can be found here: https://github.com/vancluever/hashistack-admin-fe

Let me know your thoughts!

[2016-12-13 06:18] vancluever commented on #156
OK, I think I made progress by figuring out how to use `useBasename` in React.

So now the main issue I'm coming across is that, of course, `window.location.pathname` is unstable across reloads as once a route is loaded and the location has changed in the browser, the next reload brings a new relative path and attempts to load the main CSS and JS off of that path. Not to mention that using that as

[2016-12-14 06:08] vancluever commented on #156
Hey @jippi my branch is now loading the UI behind a reverse proxy properly. Runtime config is supplied via a `config.js` (as mentioned in Gitter) that gets loaded in regardless of the route (basically any URI ending in `/config.js` gets the content). This is the cleanest way I could think to do it so far. I still need to update the docs but you can see what's needed in the commits.

Let me know wh

[2016-12-14 07:41] jippi commented on #156
@vancluever can you move it to a PR, then I'll give it a look :)

[2016-12-14 10:56] adrianlop opened #158 "Crashes in Evaluations and Allocations"
Hi,

We're experiencing some issues with evaluations and allocations. The client has to render a lot of info and sometimes it crashes (either the Chrome tab, or a red error saying Websocket connection close please reload).

Maybe these pages need pagination or some other mechanism to avoid overload?
Thanks in advance! Great UI.

[2016-12-14 11:04] jippi commented on #158
@adrianlop how many rows do you have in these lists? And what version of the UI do you use? :)

[2016-12-14 11:14] adrianlop commented on #158
I'm using your latest docker image.
allocations: 1200+ rows
evaluations: 12200+ rows

I thought Nomad would purge old data but it is showing rows from 5months ago heheh. I tried PUT to Nomad's API in /v1/system/gc, but it won't purge old data.

Also, I've noticed that if I load the UI in /jobs or details of a job, after 2mins of inactivity, this message will appear:
![image](https://cloud.githubus

[2016-12-14 11:34] jippi commented on #158
as for the timeout issue, do you proxy it through nginx or otherwise? I usually leave my prod hash-ui running for hours and hours idle on /jobs (without any websocket activity) and it doesn't disconnect.

if you got old data like that, its a bug they fixed some time ago, to get rid of those old entries, you need to fully reset your cluster state. :(

Thats a lot of rows, i've only tested with 2-50

[2016-12-14 11:38] adrianlop commented on #158
@jippi thanks for the fast response.
yep that's my problem then :smile: I'll investigate further because we have the UI behind a HAProxy.

regarding the old data, I have Nomad 0.4.1, so fair enough, we will upgrade to 0.5.1 as soon as possible and purge the cluster state.
thanks a lot for the help!

[2016-12-14 11:39] jippi commented on #158
@adrianlop I'll try to figure out how to make those lists faster, its currently unacceptable slow even on my ~200-300 items lists, so I'll keep it open as tracking issue for it

[2016-12-14 11:45] adrianlop commented on #158
oh ok, that's great. thanks again!

[2016-12-14 14:23] jippi commented on #158
@adrianlop Can you please give https://github.com/jippi/hashi-ui/pull/159 a try ?

[2016-12-14 14:56] adrianlop commented on #158
@jippi sure I just tried it!
- Allocations tab is really fast now.
- Evaluations tab is faster but still freezes a bit (but remember I have 12k rows)
thanks a lot :D

[2016-12-14 15:14] jippi commented on #158
I did not touch Evaluations yet :P since you say this fixed it, I'm going to close this issue and continue to fix it in #159

[2016-12-14 15:14] #158 closed

[2016-12-14 15:20] adrianlop commented on #158
haha cool thanks! placebo effect on Evaluations :wink:

[2016-12-14 21:02] jippi commented on #156
@vancluever I've done some exposting of nomad-server config to the UI in this commit; i wonder how close it matches your settings :)

https://github.com/jippi/hashi-ui/commit/ead8e36a3e38aec58e6782509e9b3d80e20fab10

[2016-12-15 02:42] vancluever commented on #156
Nice! It matches very close, I like how you have organized the variables over what I have right now for sure.

One thing that i think we will need to change when I merge in my proxy stuff will be to make sure that the backend serves up the config for any URL ending in `/config.js`. This is because `'src', '//' + NOMAD_ENDPOINT + '/config.js'` won't necessarily be a predictable endpoint if we are p

[2016-12-15 06:46] jippi commented on #156
nice, looking forward to review it @vancluever ! :)

[2016-12-15 07:30] vancluever commented on #156
OK, PR incoming now.

A few things to note but I'll note them in the PR text.

[2016-12-15 08:24] jippi commented on #156
Closing as PR is now open :)

[2016-12-15 08:24] #156 closed

[2016-12-15 15:49] jippi commented on #8
Basic scale up/down/stop a task group now works in latest

![image](https://cloud.githubusercontent.com/assets/22841/21230814/6bbab466-c2e6-11e6-879c-132ed32dc93b.png)

[2016-12-16 11:34] hynek opened #162 "Table glitch in client properties"
I think this is best explained with a screenshot:

![2016-12-16 at 12 33](https://cloud.githubusercontent.com/assets/41240/21261465/e5a90b06-c38b-11e6-9410-5912c7c30e55.png)

I guess you forget to fill out the “drain” field so “HTTPAddr” goes up.

Also a little bit of spacing beneath NodeClass would be nice. :)

[2016-12-16 11:51] jippi commented on #162
Thanks! :)

What browser do you use - and operating system?

[2016-12-16 15:47] hynek commented on #162
Safari Version 10.0.2 (12602.3.12.0.1) / macOS Sierra 10.12.2.

[2016-12-18 09:33] jippi commented on #8
Jobs can now be updated from the UI; https://github.com/jippi/hashi-ui/releases/tag/v0.8.0

[2016-12-18 10:10] #162 closed

[2016-12-18 13:03] jippi commented on #8
Jobs can now also be stopped, closing this issue as https://github.com/jippi/hashi-ui/releases/tag/v0.9.0 should finish the features requested here :)

[2016-12-18 13:03] #8 closed

[2016-12-19 09:48] christoe opened #163 "Crashes on missing stats(?)"
Hashi-UI crashes on our cluster, after one glance on the code, seemingly because some machine stats is missing:

[code]

Running Nomad 0.5.0. Works on "iverberk/nomad-ui:latest".

[2016-12-19 11:53] jippi commented on #163
fixed :)

[2016-12-19 11:53] #163 closed

[2016-12-19 13:11] itatabitovski opened #164 "UI/UX improvements ideas"
- In /servers the "Leader" column should have check mark only for the leader. The rest of the servers should not have any symbols. Currently they have a red X which next to the green check mark look like they are not healthy...

- In /clients "Status" column would be friendlier and more obvious to have colored text indicating the status. Having green check mark looks like there are only two option

[2016-12-19 13:24] multani opened #165 "Truncated output in task state"
The output for the detailed allocation status of a task is truncated and there's no way (AFAIK) to expand it.

See the attached screenshot for example:

![screenshot from 2016-12-19 11-34-52](https://cloud.githubusercontent.com/assets/65311/21309737/b8589f9e-c5df-11e6-842e-ae7cf75e577a.png)

It's a pity because the interesting part is actually the truncated part :)

[2016-12-19 13:29] jippi commented on #165
haha, nice, let me give it a look :)

[2016-12-19 13:30] multani commented on #165
BTW, I used this job to trigger it (forgot to attach it in the original bug report):

[code]

[2016-12-19 13:32] jippi commented on #165
@multani ha, perfect, was trying to get some long error in there :)

[2016-12-19 13:42] #165 closed

[2016-12-19 13:42] jippi commented on #165
@multani should be fixed, let me know if `latest` docker tag works for you once its done building in ~8min time :)

[2016-12-19 13:44] multani commented on #165
I'm keeping an eye on the Docker tag :)

[2016-12-19 13:52] multani commented on #165
@jippi Awesome, that works great, thanks for the very quick fix! 👍

[2016-12-21 16:21] sheerun opened #166 "TLS support"
Hey,

The UI looks awesome! :) But does it support nomad when TLS is enabled? The readme only mentions NOMAD_ADDR while TLS support requires NOMAD_CACERT, NOMAD_CLIENT_CERT, and NOMAD_CLIENT_KEY

[2016-12-22 07:18] jippi commented on #166
There is no TLS support at this time - a PR for this is more than welcome :)

[2016-12-22 09:11] jippi commented on #166
@sheerun i've made a PR for TLS support, #167 , can you give it a try? :)

[2016-12-22 09:11] jippi commented on #166
Closing issue as a PR is now open for further discussion

[2016-12-22 09:11] #166 closed

[2016-12-22 15:08] andrewduch opened #168 "UI Doesn't Indicate All Region Leaders"
The server members page shows servers across all federated regions. However, it will only show the leader checkmark next to the leader of that local region. This differs from what `nomad server-members` shows which is it will indicate the leader for each region.

Note huge issue -- but was a bit confusing at first.

[2016-12-22 17:44] jippi commented on #168
@andrewduch I don't have any cluster in prod with multiple regions and masters, so its probably a slight issue from that :)

Same reason #130 currently is not implemented

[2016-12-22 20:30] sheerun opened #169 "Can't deal with DNS names"
Hey,

I'm trying to connect to `NOMAD_ADDR` that happens to be a full domain instead of ip address. Unfortunately hashi-ui fails to resolve this address as shown on following gif:

http://www.giphy.com/gifs/l4JyMO35JgemumFmo

When using ip address instead of dns name, everything works OK.

This might be (but I only guess), that because you're using bare-metal docker image, and docker is unable to

[2016-12-22 20:31] sheerun commented on #169
Another more involved solution could be to use `export GODEBUG=netdns=cgo` when compiling go's binary.

[2016-12-27 20:43] jippi commented on #130
@bastiaanb can you try and test #170 ? :)

[2016-12-27 20:45] jippi commented on #168
@andrewduch #170 is the initial work for multiple region support - can you give it a test? :)

[2016-12-28 16:00] bastiaanb commented on #130
Ha, thanks for the update. Sorry for not responding earlier! I'll try it out tomorrow, time to revive my Devoxx talk multi region setup.

[2016-12-29 15:52] #130 closed

[2016-12-29 15:52] #168 closed

[2016-12-29 15:59] jippi commented on #130
Fixed in https://github.com/jippi/hashi-ui/releases/tag/v0.12.0

[2016-12-29 16:00] jippi commented on #168
Fixed in https://github.com/jippi/hashi-ui/releases/tag/v0.12.0

[2016-12-29 16:14] jippi commented on #169
@sheerun I'm currently building `latest` docker image now based on alpine instead, can you please take it for a spin? :)

[2016-12-29 16:26] jippi commented on #169
Fixes https://github.com/jippi/hashi-ui/releases/tag/v0.12.1 for me :)

[2016-12-29 16:26] #169 closed

[2016-12-30 20:58] gvenka008c opened #172 "govendor"
I am seeing the below govendor issue while running the make command. Thoughts?

[code]

[2016-12-30 21:35] jippi commented on #172
Do you have something similar to

[code]

aka is `$GOPATH/bin`  in your `$PATH`?

[2017-01-01 23:23] michaltrzesimiech opened #173 ""getsockopt: connection refused", "Could not fetch nomad regions from API""
Hey there, I'm running into this error trying to launch Docker containers with either version 0.12.0 or 0.12.1 ([logs](https://gist.github.com/michaltrzesimiech/ca621d7c06903b1759589988a8d47cd8)): `21:18:18.697 main.go:257 ▶ CRITI  Could not fetch nomad regions from API: Get http://127.0.0.1:4646/v1/regions?wait=60000ms: dial tcp 127.0.0.1:4646: getsockopt: connection refused`.

This error doesn't

[2017-01-02 07:33] jippi commented on #173
@michaltrzesimiech hi! Do you have nomad running and listening on http://127.0.0.1:4646/ ?

Otherwise you need to use `NOMAD_ADDR` `-nomad. address` to change the IP/hostname to match your environment

Regarding your other issue, that seem to be because it uses port 8500 ? That's the Consul API HTTP UI/API port, not Nomad

Do you use network mode `host` for the docker container?

[2017-01-02 09:25] #173 closed

[2017-01-02 09:25] #172 closed

[2017-01-02 22:41] michaltrzesimiech commented on #173
Hi and thanks for helping me out @jippi.

I did use NOMAD_ADDR to match the address of the running instance of Nomad, which at that time was http://127.0.0.1:4646/. Looking through Nomad logs now, you're right that at least one of the problems comes from the side of Consul ([full log](https://gist.github.com/michaltrzesimiech/37ac5f5c33df5e683cd50d44b9c91e5c)):

[code]

I tried both Kitematic and

[2017-01-03 07:32] jippi commented on #173
`--net=host` is a docker flag, so you need to put it with the docker flags

`docker run --net=host -e NOMAD-ADDR=127.0.0.1:4646 -p 8000:3000 jippi/hashi-ui`

The issue is outside of hashi-ui, but in your networking settings or docker :)

[2017-01-03 22:54] Ashald opened #174 "ACL Support for Consul UI"
Hi,

thanks for the great job!

In release notes you mentioned that it's possible to request an ACL support for Consul UI - may I do that? :)

Thanks!

[2017-01-04 07:30] jippi commented on #174
@Ashald absolutely !

[2017-01-04 08:53] jippi commented on #174
Closing as a PR is now open

[2017-01-04 08:53] #174 closed

[2017-01-04 18:54] gvenka008c opened #177 "Auto Scaling / Deployment"
Does hashi-ui supports auto scaling? Also can we use this for Blue/Green Deployments or Canary release?

[2017-01-04 19:55] jippi commented on #177
@gvenka008c the UI today does not support any kind of auto-scaling... I'm working on an external prototype on this, that won't be part of the UI, but a separate binary that will integrate with the UI

Blue/Green deployments is something Nomad will support, but the UI will not (currently) automate or facilitate :)

[2017-01-04 19:55] #177 closed

[2017-01-04 20:05] lumengxi opened #178 "Error: unable to fetch members: json: cannot unmarshal array into Go value of type api.ServerMembers"
Nice work!

When I ran this in Docker and point to a Nomad cluster, I got the following error message:
[code]

`Cluster CPU usage` and `Cluster RAM usage` are both blank, other charts are fine thou.

We are running on Nomad v0.4.1. If this is a breaking change on Nomad 0.5, it might worth mentioning this in the README.

[2017-01-04 20:31] jippi commented on #178
@lumengxi the latest version only works with latest version of nomad, 0.5.x indeed

Until the UI is 1.x (and Nomad ditto), I'll try to keep it "latest version only" unless the effort to be backward compatible is trivial :)

[2017-01-04 21:00] #178 closed

[2017-01-07 16:37] michaltrzesimiech commented on #173
OK, so I tried to run it outside Docker and it works just fine. There seems to be a typo in [the docs](./hashi-ui-<os>-<arch> --nomad-enable) though: it only works for me with `./hashi-ui-<os>-<arch> --nomad.enable` instead of `--nomad-enable`.

Thanks for helping me out all the way through. :)

[2017-01-09 08:59] xudawei opened #181 "CONSUL TOKEN WITH CONSUL_ENABLE"
how to integration consul with consul token to hashi-ui  when CONSUL_ENABLE=1 .

[2017-01-09 09:00] jippi commented on #181
Do you mean Consul ACL?

[2017-01-09 09:01] jippi commented on #181
If you do, please take https://github.com/jippi/hashi-ui/pull/175 for a spin, that PR implements the feature, its not in mainline yet due to lack of someone testing it :)

[2017-01-09 09:11] xudawei commented on #181
Yeah，it is . thanks a lot ,  i will take a look right now !

[2017-01-09 09:11] #181 closed

[2017-01-09 17:50] shantanugadgil opened #182 "difference in CONSUL_ADDR and NOMAD_ADDR"
Hi,
Just wondering why the difference between the way CONSUL_ADDR is specified and NOMAD_ADDR
(one without the http and one with)

Regards,
Shantanu

_Awesome project, BTW!_

[2017-01-09 18:35] jippi commented on #182
@shantanugadgil the NOMAD_ADDR is back from the days where I did not bother with TLS, where Consul API SDK handle the protocol part automatically depending on TLS configuration present or not :)

[2017-01-09 18:35] #182 closed

[2017-01-10 09:46] OferE opened #183 "envhancement - show other stats"
Would be great if in addition to cpu/memory we can see io stats and network.
thanks!

[2017-01-10 09:57] jippi commented on #183
@OferE Its not something Nomad emits through the API at this time :(

You can see the data available for hashi-ui here; https://www.nomadproject.io/docs/http/client-stats.html and https://www.nomadproject.io/docs/http/client-allocation-stats.html

would love to that those things, but until nomad exposes them, it's not going to be easy to do :(

[2017-01-10 09:57] #183 closed

[2017-01-10 10:04] OferE commented on #183
thanks for the quick response. great project.

[2017-01-11 18:41] lfarnell commented on #152
@jippi let me take a stab at this. I think I know how I would do it

[2017-01-11 19:00] jippi commented on #152
@lfarnell that would be amazing!

[2017-01-14 15:59] #164 closed

[2017-01-14 15:59] jippi commented on #164
Done!

[2017-01-16 12:47] gokhansengun opened #184 "Show total amount of Memory and CPU for the currently allocated jobs"
I have a setup which run on my dev box, test in the cloud and in the future prod in the cloud. I am defining resource limits for the tasks as below and setting the values according to the infrastructure it is currently running on.

[code]

Values between environments are defined with a multiplication factor.

Running a set of jobs in local environment and being able to see the currently reserved c

[2017-01-16 13:01] jippi commented on #184
I think it could be interesting to have in the Cluster overview as a resource allocation (maybe as a 3rd color on the pie charts, showing "used", "allocated" and "available"

and maybe on each job have a box showing how much CPU / RAM / Network the job got allocated in total?

[2017-01-17 02:48] waterdudu opened #185 "separate into different packages"
Currently all files are in main package, which is not likely the recommended way to layout go code.
It is better to separate files into different package, like package `consul`, `nomad` or `connection`. Thanks!

[2017-01-17 07:22] jippi commented on #185
@waterdudu is this a refactor you want to take on? while it may not be the recommended way to lay out the code, it does work, and currently I prioritize my own time for features rather than big refactors. Also I'm currently not experienced enough in Go to do this task efficiently :)

[2017-01-17 07:26] jippi opened #186 "Go Tests"
The Go features lack testing, would be nice to have some high-level tests, e.g. for read-only mode and basic message passing

[2017-01-17 07:27] jippi opened #187 "JS tests"
Would be amazing to have tests for some of the React components, and fundamental rendering tests

[2017-01-18 18:45] jovandeginste opened #188 "Integrate with log backends (elasticsearch, graylog and more)"
We ship our logs to an Elastic Search cluster; the logs are not available on the docker servers for nomad to collect (and thus for hashi-ui to show)

It would be nice if hashi-ui could either query an ES and show the log messages from there integrated in the ui, or (perhaps as a first step) link to an external location where the logs can be found, preferably parameterized url so you can point it d

[2017-01-18 18:53] jovandeginste opened #189 "Read only does not seem to work as expected"
I love hashi-ui as a way to visualize the workload on our nomad infrastructure; I want our devs to use it to see what their jobs do. However, I don't want them to be able to control jobs from there. So the read only options is very useful.

While testing, it does not seem to do anything, however. I added these ENV vars in the docker container:
[code]

and the container starts with this as (partial

[2017-01-19 05:21] sepulworld opened #190 "ERROR [ClusterStatistics] Unable to fetch node stats it is using IP address"
[code]

utility1-production.seattle is part of the certificate, but it appears hashi-ui is sending the stats request via the IP address which isn't covered in the tls certificate hosts.

[2017-01-19 07:31] jippi commented on #190
Which version of hashi-ui do you use?

[2017-01-19 15:09] sepulworld commented on #190
Let me double check but I believe I pull the latest from Docker Hub

On Wed, Jan 18, 2017, 11:31 PM Christian Winther <notifications@github.com>
wrote:

--
-Zane

[2017-01-20 04:39] josegonzalez commented on #188
I would prefer a parameterized link, as there are some of us who do not use the ELK stack, and instead use something like Graylog or an external service.

[2017-01-20 04:46] sepulworld commented on #190
Yes, using latest docker image:

[code]

[2017-01-20 04:49] sepulworld commented on #190
I see, so we are tied to what Nomad exposes (Address field). Ill see if I can work around this somehow. Do you have any working TLS enabled Nomad clusters in action? Perhaps I should handle the cert generation differently.

[2017-01-20 07:32] jippi commented on #190
I don't use TLS for my nomad clusters... maybe a work-around is to try and resolve the IP to hostname, and if successful, use that when connecting?

[2017-01-20 07:35] jippi commented on #188
I'm for a parameterized link as well, and maybe backend specific drivers for fetching the logs, for closer integration

[2017-01-25 03:47] lfarnell commented on #185
I'm currently trying to re-do the CLI tooling and I'm experiencing the pain of no packages. Would either of you @waterdudu or @jippi able/willing to get this done? If someone even helps guide me I can try and attempt this, just don't know where to start.

[2017-01-25 07:55] jippi commented on #185
I haven't had the pain or problem with a flat package, so not something I feel super urgently about doing - what problem are you hitting @lfarnell ?

[2017-01-25 13:54] lfarnell commented on #185
The main problem @jippi that I'm currently facing is that most CLI libraries need to put the commands into a separate package. That's fine. So since that needs to happen, I would then need to move other code into distinct packages so that we can separate their concerns. The biggest problem is that when you create a package(say nomad or consul), you then can't refer to code in the main package from

[2017-01-26 00:30] mclate opened #192 "Add keepalive websocket messages"
In configurations, where backend is behind proxy, it is common to have proxy drop connection due to idle tcp session.

Would be nice to have client to send some dummy keepalive message in order to keep connection open (say, once every 45 seconds)

[2017-01-26 07:40] jippi commented on #192
@mclate PR is welcome - otherwise, nginx and friends usually can be configured to include very high idle timeouts? :)

[2017-01-26 11:07] mclate commented on #192
I'd love to, but unfortunately i have no knowledge of Go or js.

Idle timeouts is not the best thing to do really.
While idle timeout will solve the issue here, it will create extra burden on balancers and infrastructure. I'm pretty sure almost everyone here uses hashi-ui to support their primary application, thus timeout requirements are dictated by application needs in first place.
While one can

[2017-01-26 14:41] burdandrei commented on #188
@jovandeginste do you guys run the collector in each group?

[2017-01-26 14:50] jovandeginste commented on #188
@burdandrei what collector and what group?

[2017-01-26 14:52] burdandrei commented on #188
@jovandeginste log collector  in nomad group, as it's written in nomad documentation.

[2017-01-26 14:56] jovandeginste commented on #188
@burdandrei I'm not sure I fully understand, but here is how it's configured: the docker hosts have the journald logging driver as part of the daemon startup, and every nomad job has this snippet:
[code]
(otherwise, nomad uses its default logging driver)

This means all logs are dropped into journald on the docker host, and there a logstash ships the logs to an ES cluster (logs are available local

[2017-01-26 15:01] burdandrei commented on #188
@jovandeginste  docker is good, but we run a lot of exec =)

[2017-01-27 01:55] Frick commented on #192
The WebSocket spec actually contains Ping and Pong frames (sometimes known as heartbeats) and an example in Go can be seen from the [Gorilla WebSocket](http://www.gorillatoolkit.org/pkg/websocket) library [here](https://github.com/gorilla/websocket/blob/master/conn.go#L1009-L1051). The browser should handle responding to Ping frames automatically I believe. This functionality isn't just good to ke

[2017-01-27 07:16] sepulworld commented on #190
Yeah, perhaps start with adding a disable verification. I can test that out maybe this weekend

https://github.com/hashicorp/nomad/blob/master/api/api.go#L153

[2017-01-28 08:15] sepulworld commented on #190
https://github.com/jippi/hashi-ui/pull/194

[2017-01-28 08:55] jippi commented on #190
Merged, thank you!

[2017-01-28 08:55] #190 closed

[2017-02-01 22:34] simonsparks opened #196 "Support for Nomad's parameterized jobs and dispatch command"
Nomad has recently introduced [parameterized jobs](https://www.nomadproject.io/docs/job-specification/parameterized.html) which may be [dispatched](https://www.nomadproject.io/docs/commands/job-dispatch.html) with a set of variables to customise a job instance.

It would be a great feature to provide an intuitive UI over Nomad's parameterized job dispatch, perhaps presenting a list of parameterize

[2017-02-01 22:35] sethvargo opened #197 "Non-ascii characters don't display correctly"
It's possible to insert am emoji or non-unicode character into Consul's KV store (and it handles it well), but the hashi-ui fails to display it. Instead, it displays as s different unicode character, and then, when updating, it appends to itself.

![ezgif com-ae6a71fb3b](https://cloud.githubusercontent.com/assets/408570/22529273/aaa4c6e2-e88b-11e6-9aaf-9e93603ef057.gif)

[2017-02-02 07:45] jippi commented on #197
I'll give it a look today :)

[2017-02-02 07:45] jippi commented on #196
Yeah, it could be a really amazing feature to have in the UI

Need to figure out how to make this a smooth experience though :)

[2017-02-02 09:12] #197 closed

[2017-02-02 09:12] jippi commented on #197
Fix should be in master now, give it 5min and the docker image should be up-to-date :)

[2017-02-02 09:20] #189 closed

[2017-02-02 09:20] jippi commented on #189
Fixed.. should land in master docker image in 5min time

[2017-02-02 09:44] #192 closed

[2017-02-02 09:44] jippi commented on #192
A fix should be in master now, the docker image should be updated in a few minutes :)

[2017-02-02 10:29] mclate commented on #192
@jippi It works perfectly. Can confirm that there are no timeouts with new docker image. Thank you very much.

[2017-02-02 11:00] jippi commented on #192
I tagged a new release too if you want to pin to that :)

[2017-02-02 16:36] sethvargo commented on #197
Thanks!

[2017-02-02 21:32] aerickson commented on #184
+1 for this feature. Another project by the same name has something like this.

https://github.com/chuyskywalker/nomad-ui/blob/master/about/home.png

[2017-02-07 15:22] cyrilgdn opened #200 "Unable to use PROXY_ADDRESS"
Hello,

Maybe I misunderstood the good way to do but I tried to use PROXY_ADDRESS and was unable to make it worked.

If I run
[code]
I can access to Nomad UI on http://localhost:3000/ and it works perfectly.

But if I try to access on http://localhost:3000/test with
[code]
The page diplay this error:
![nomad-ui](https://cloud.githubusercontent.com/assets/4532947/22697327/655acf94-ed51-11e6-8fff-12

[2017-02-07 15:44] cyrilgdn commented on #200
By the way in the source code I saw a NOMAD_PROXY_ADDRESS, try both but don't know the goal of this second one.

[2017-02-07 15:59] jippi commented on #200
Hi

In dev mode only `/nomad` and `/consul` work - `/` and other endpoints will result in a failure

[2017-02-07 18:00] cyrilgdn commented on #200
Thanks for your quick answer.

I encountered some troubles behind a load balancer which strip the prefix too, that's why I made this simple test. But honestly I'm not sure this was the same error...

I will retry my test with the load balancer and will come back to you if I still have an error.

[2017-02-08 09:51] cyrilgdn commented on #200
Hi @jippi ,
I tested with a simple Ngninx Proxy:
[code]
With the docker command:
[code]
and I have the same error.

[2017-02-08 14:32] burdandrei commented on #200
We're truing to run Hashi-UI behing traefik, and it's not working =(

[2017-02-08 15:27] jippi commented on #200
I've been home sick all day today, so didn't get a chance to look into this... will try to set it up myself and test wether it works or not - could be a bug :)

[2017-02-08 15:31] cyrilgdn commented on #200
I tried with Traefik too (which is actually the loadbalancer I use, Nginx was only to put a simple example for testing)

@jippi I hope you get better soon!

[2017-02-08 15:47] pgoultiaev commented on #200
+1 Also tried using traefik and ran into the same issue.

[2017-02-08 15:52] burdandrei commented on #200
i think this is fixed now https://github.com/containous/traefik/issues/1059

[2017-02-08 17:15] rusterholz opened #201 "Documentation for starting in docker is incorrect (out of date?)"
In the README it clearly states:

However, using the `latest` tagged image as of the time this issue was written, that command fails with the following log message:

`17:11:20.269 main.go:119 ▶ CRITI  Please enable at least Consul (--consul-enable) or Nomad (--nomad-enable)`

Can the README be updated with correct instructions for passing this flag through to the docker container? Thanks!

[2017-02-08 18:38] lfarnell commented on #201
The command should just be ```docker run --net=host -e NOMAD_ADDR=... -p 8000:3000 jippi/hashi-ui --nomad-enable --consul-enable``` if you were running both nomad and consul.

I will update the docs for future users!

[2017-02-08 19:53] rusterholz commented on #201
Thanks so much!

[2017-02-14 04:41] Bullz3y3 opened #202 "Consul filter to show only failed services"
It would be nice to have this feature so we can utilize this a monitoring platform. This is already there in official consul-ui

[2017-02-14 07:12] jippi commented on #202
@Bullz3y3 yeah, that seems like a good idea - long term i would love to have a dedicated dashboard for Consul showing generic cluster health information

[2017-02-14 07:33] Bullz3y3 commented on #202
@jippi sounds great. Currently I have replaced nagios with consul-ui and consul-alerts what I'm missing is above feature and a dedicated dashboard something like Uchiwa would be awsome

[2017-02-14 09:21] #202 closed

[2017-02-14 09:23] jippi commented on #202
@Bullz3y3 in a few this should be in the master build (`latest` docker image)

![image](https://cloud.githubusercontent.com/assets/22841/22922860/944decd4-f29f-11e6-9615-0e032d221433.png)

[2017-02-14 09:26] #201 closed

[2017-02-14 19:06] burdandrei commented on #200
Update here. it was not working with AWS ELB.
AWS ELB doesn't suuport websockets on layer 7 (HTTP), when i switched it to TCP Listener it started to work with Traefik like a magic!

[2017-02-15 07:13] jippi commented on #200
oh, nice!

@burdandrei is it something you can contribute in README that AWS ELB need some TLC to work out of the box? :)

[2017-02-15 10:04] burdandrei commented on #200
https://github.com/jippi/hashi-ui/pull/203

[2017-02-15 11:12] multani commented on #200
Actually, the original problem wasn't talking about AWS, nor ELB nor any kind of proxy in front of the UI at first :)

AFAIK, the following command should serve the UI on http://localhost:3000/nomad/ but it doesn't fully work: `docker run --rm -e PROXY_ADDRESS="localhost:3000/nomad/" -e NOMAD_ENABLE=true -e NOMAD_ADDR=http://nomad.service.consul:4646 -p 3000:3000 jippi/hashi-ui:v0.13.1`.

We get "

[2017-02-15 11:41] jippi commented on #200
@vancluever did i break anything in your proxy support? seem to be problem in either how i've documented it or how it's expected to work :) Your feedback would be lovely

[2017-02-16 02:01] vancluever commented on #200
Hey @jippi and all! I'll take a look tonight and see if I can re-produce - more info as I have it!

[2017-02-16 02:17] vancluever commented on #200
OK, so I think something is going on with the fact that it seems like the URL routes have changed significantly. Just reviewing (have to re-factor the frontend I made to test this) and will update soon!

[2017-02-16 03:18] vancluever commented on #200
Alright, gotten as far as I can spend on it for tonight, but have found a few things:

 * Looks like the single-function URI redirects (ie: when the UI is functioning either in Consul-only or Nomad-only mode) are not including the proxy URI. I've fixed this, but now have run into issues with connecting to the websocket, possibly due to how I fixed it, but more on that below.
 * Right now, we don't

[2017-02-16 06:41] jippi commented on #200
Thanks for your debugging and findings so far @vancluever ! :)

[2017-02-16 08:31] multani commented on #200
Thanks Chris for having a look!

On Thu, Feb 16, 2017, at 04:18, Chris Marchesi wrote:

If I may add some comment here: it would be *really* awesome if it could
be possible to NOT have to specify the protocol AND the hostname.

Ideally, we would like to deploy this kind of application under a
dedicated prefix, such as "/nomad/" in this case, and be able to reuse
this same job into different enviro

[2017-02-16 10:32] jippi commented on #200
I've made a PR that seem to fix the issues, please see #204 - closing this ticket and moving discussion to the PR :)

[2017-02-16 10:32] #200 closed

[2017-02-17 19:45] automaticgiant commented on #201
if using net=host, then port publish is moot/erroneous?
and what is the reason for net=host?
from docker, it seems to run fine in default network mode.

[2017-02-18 22:25] seeder opened #207 "Fail to parse Ipv6 leader address"
I have just tried it against my nomad system running entirely over IPv6 and I can see that hashi-ui has these errors in the log:

`[31m22:22:38.966 nomad_cluster_members.go:34 ▶ ERROR [0m watch: unable to fetch members: Failed to parse leader: [2001:111::1]:4647`

[2017-02-19 16:56] jippi commented on #207
What version of hashi-ui ? can you please retry with the latest version? (`latest` tag)

[2017-02-19 19:30] seeder commented on #207
Hi,

I'm running it via nomad , and using the job example you have in the repo.
docker images lists is as :
[code]

Running `/hashi-ui -test.v`
says
[code]

[2017-02-19 19:34] seeder commented on #207
And  yes, about 100% of errors I find in GoLang apps related to IPv6 is authors assumption about using legacy internet protocol the v4.

Hope you can do some Go magic!

[2017-02-21 21:37] venth opened #208 "How could I expose hashi-ui on different url path than root (/)?"
How could I expose hashi-ui on different url path than root (/)? Is it possible to bootstrap hashi-ui on configured url path like /hashi-ui?

[2017-02-22 08:01] jippi commented on #208
Yep, please see `PROXY_ADDRESS`  and #204 which is working to improve on it

[2017-02-22 08:01] #208 closed

[2017-02-22 16:53] OferE opened #209 "enhancement request: batch jobs view"
would be nice to have a batch job view.
show % of completed jobs etc in a nice graph.
a button to download logs in bulk as a zip file.
Errors etc.

[2017-02-23 01:59] josegonzalez opened #210 "Support multiple consul/nomad clusters"
In some setups, there is a consul cluster for different environments/regions. Ideally, one could swap between each cluster via a UI element, allowing deployers to avoid setting up multiple installations for their infrastructure.

Perhaps a comma-separated list of addresses can be set?

[2017-02-23 07:36] jippi commented on #210
I would probably run a hashi-ui instance per cluster, rather than one ui instance talking to all of them. But willing to discuss potential multi-cluster mode

[2017-02-23 18:53] aerickson opened #211 "feature request: <head><title> changes depending on app (and env)"
I'm not sure how to determine the 'env'. The IP of the serving host could be displayed (envs usually have unique subnets). It could just be a CLI option also.

Changing the favicon in consul mode would be cool too.

Use case: I have 4 hashi-ui tabs's up in my browser usually. 2 nomad UIs (1 for each environment) and 2 consul UIs. It's hard to see which tab is for which service/env.

[2017-02-23 19:35] jippi commented on #211
I like it :)

[2017-02-23 20:36] lfarnell commented on #211
I think a CLI option would be the most friendly. @jippi is it currently possible to pass arguments to the webpackplugin? I can see a PR if its not that hard

[2017-02-24 01:23] lnguyen opened #212 "CPU Spike"
I'm not sure why... but everytime I try to run hashi ui I get CPU spike with nomad and hashi-ui

[code]
any thoughts?

[2017-02-24 01:27] lnguyen commented on #212
I also get requests to nomad
[code]

[2017-02-24 01:35] lnguyen commented on #212
turns out the bug is when you have no jobs running on nomad

[2017-02-24 08:06] jippi commented on #212
@lnguyen do you use any proxy between hashi-ui and nomad? if you do, make sure the `X-Nomad-Index` header is forwarded to hashi-ui, otherwise things will behave super weird

[2017-02-24 21:18] lnguyen commented on #212
@jippi i run it on same node so its directly talking to nomad, is standard practice talking to nomad via proxy?

[2017-02-25 10:18] jippi commented on #212
@lnguyen can you try to run hashi-ui in debug log level and paste it here too?

[2017-02-28 19:23] lnguyen commented on #212
sorry been busy, i won't be able to get back to this in a while, will close and investigate in the future

[2017-02-28 19:23] #212 closed

[2017-03-01 08:42] Theraga opened #213 "panic: concurrent write to websocket connection"
I am not sure what causes it but whenever I put a large number of jobs into Nomad (200+) or I try to Garbage clean nomad the webUI seems to crash. Is there anything I can do to stop it from crashing? I have added the full log below
[code]

[2017-03-06 18:28] ptarpan opened #214 "Unable to launch UI"
Hi,
I am unable to launch the hash-ui locally. I followed the recommend steps but when running `make -j build` am getting the following:

`
/Applications/Xcode.app/Contents/Developer/usr/bin/make -j -C backend build
Installing github.com/kardianos/govendor
=> Running go fmt
=> Running go tool vet -all ./actions.go ./config.go ./consul.go ./consul_actions.go ./consul_cluster.go ./consul_config.go .

[2017-03-06 18:39] jippi commented on #214
as per the [dev instructions](https://github.com/jippi/hashi-ui/blob/master/DEVELOPMENT.md) you need yarn in your path too

`yarn: No such file or directory`

[2017-03-06 19:17] ptarpan commented on #214
Thanks. Made some progress. Here's what I see now:

`
Child html-webpack-plugin for "index.html":
        + 3 hidden modules
Child extract-text-webpack-plugin:
        + 2 hidden modules
Child extract-text-webpack-plugin:
        + 2 hidden modules
Child extract-text-webpack-plugin:
        + 2 hidden modules
Child extract-text-webpack-plugin:
        + 2 hidden modules
Child extract-text-webpack-

[2017-03-06 19:33] jippi commented on #214
as per the [dev instructions](https://github.com/jippi/hashi-ui/blob/master/DEVELOPMENT.md) you need Go 1.7 (1.7.3) - never tried on 1.6.x

[2017-03-06 20:40] ptarpan commented on #214
Thanks again @jippi . I will give that a shot as time permits and let you know.

[2017-03-07 07:27] #214 closed

[2017-03-09 07:14] taharah commented on #213
I ran into the same issue when attempting to use it with a large Consul installation (~10K services spread across 600 nodes). I'm not sure if it's trying to call out to the web because the nodes are behind 2 layers of firewalls so no direct internet connection.
[code]

[2017-03-10 14:24] Ashald opened #215 "Fall back from websockets"
Websockets cannot be used via proxies [easily]. It'd be nice if Hashi-UI could fall-back to long polling from web sockets so that it can be used via an HTTP proxy.

[2017-03-10 14:56] jippi commented on #215
This is nothing something I'm planning for, its quite a change

If someone want to add this support, and if it doesn't add a lot of new complexity to the code, I'm fine with the addition :)

Most proxies can rather easily upgrade and proxy websockets in my experience, so the problem doesn't seem big enough to require a huge complexity add-on in the code base - but I'm more than open to implementat

[2017-03-10 14:57] Ashald commented on #215
I'm using an SSH-based proxy quite often and it doesn't work with websockets. :(

[2017-03-10 15:02] jippi commented on #215
Maybe https://www.npmjs.com/package/wstunnel could help?

[2017-03-16 13:35] madshaave opened #216 "Issue with CPU load when hashi-ui is connected"
We have just set up a new installation of Nomad/Consul server, and connect the hashi-ui to this node with the following params: --consul-enable --nomad-enable --nomad-address http://x.x.x.x:4646 --consul-address x.x.x.x:8500
Now, once we open the UI, the CPU for the nomad process on the server peaks (40-50%), and stays that way until we shut down the hashi-ui process. Just closing the browser is n

[2017-03-16 13:43] jippi commented on #216
do you run any proxy between consul/nomad and hashi-ui?

[2017-03-16 13:47] madshaave commented on #216
No, there is no proxy between them.

[2017-03-16 13:49] jippi commented on #216
Can you please increase log level and include nomad/consul/hashi-ui log to the issue?

and try with just one of them.

also, is there anything like AWS LoadBalancer or something - or is it a 100% direct, no middle-man connection?

[2017-03-16 13:49] jippi commented on #216
Also, is the nomad cluster empty, or does it have some jobs / clients available?

[2017-03-16 13:56] madshaave commented on #216
I will try to get the logs asap.
There are no jobs running yet. Not even a client agent, only the server.

[2017-03-17 10:14] #216 closed

[2017-03-17 10:24] #213 closed

[2017-03-17 10:26] jippi commented on #213
Fixed in https://github.com/jippi/hashi-ui/releases/tag/v0.13.4

[2017-03-17 10:42] jippi commented on #211
if anyone want to take a stab at this; https://github.com/nfl/react-helmet would probably be the way to go

[2017-03-17 12:07] josegonzalez commented on #210
Closing, as following the convention of one instance per cluster is fine for me :)

[2017-03-17 12:07] #210 closed

[2017-03-17 13:37] Wintermute1 opened #217 "Sensitive data from Raw JSON (Env:object)"
The envs contain sensitive data, is there a possibility of adding an option to mask this data?

For example the raw JSON which is exposed here -http://localhost:3000/nomad/europe/jobs/x/groups?taskGroupId=x

[2017-03-17 14:21] jippi commented on #217
As mentioned in Gitter, this would have to be done server side (in Go) to prevent it being sent on the wire in general.

I don't have this use-case myself, and not sure to what extent it would work, would it be env{}, meta{}, (docker) labels{} etc

Feel free draw up a draft / RFC for it :)

[2017-03-17 18:22] aerickson commented on #211
Thanks. That's where my research stopped (I wasn't sure how to get the
image packaged).

-------------------------------------------------------------------------------------------
You should follow me on Twitter at http://twitter.com/ajerickson.

On Fri, Mar 17, 2017 at 3:42 AM, Christian Winther <notifications@github.com

[2017-03-21 10:01] ognemuh commented on #207
Yesterday, my fix was commited to master, and docker latest image already support ipv6 leader. Should we close this bug ? :)

[2017-03-21 10:03] jippi commented on #207
Yep! :) thanks a bunch, if #204 is fixed this week too, i'll cut a new release with both fixes in

[2017-03-21 10:03] #207 closed

[2017-03-22 16:59] mytototo opened #222 "Terraform UI"
Is there any chance to see a UI for Terraform in this project? Or this is not the goal?

[2017-03-23 01:28] lfarnell commented on #222
All hashicorp projects have the intention to be add but it's mostly just developer bandwidth at this time. PR's are always welcome for new features! :smile:

[2017-03-23 07:42] jippi commented on #222
What @lfarnell said :)

[2017-03-24 17:31] automaticgiant opened #224 "proxy problems maybe?"
`WebSocket connection to 'ws://10.204.95.104:27011/ws/nomad' failed: HTTP Authentication failed; no valid credentials available`

not sure how to diagnose this. the chrome devtools don't appear to show whether the ws request went through the proxy, but idk why else i'd get a 401. i also don't know why the ip surrogate auth doesn't handle websockets.

[2017-03-24 17:32] automaticgiant commented on #224
duplicate of #215 ish

[2017-03-24 17:32] #224 closed

[2017-03-31 18:20] leemhenson opened #227 "can't access dashboard on ios"
Hi. From my laptop I can access our hashi-ui dashboard fine. But via Safari, Chrome and Firefox on my iPhone 6, I get "Unable to connect to the backend...Something bad and unexpected happened."

Is this some missing feature on mobile browsers? Websockety?

[2017-04-01 05:17] jippi commented on #227
I'm using hashi-ui daily on my iOS devices in Safari and Chrome

What version are you using? any load-balancers or proxy between you and the hashi-ui ?

[2017-04-01 20:17] leemhenson commented on #227
0.15.4. I'll check to see if what config is on our load balancer.

On Sat, 1 Apr 2017 at 06:17 Christian Winther <notifications@github.com>
wrote:

[2017-04-06 10:35] leemhenson commented on #227
Ok, it looks like it's because the dashboard is protected by basic auth. Running devtools shows:

<img width="1239" alt="nomadscreencap2" src="https://cloud.githubusercontent.com/assets/515/24749953/fb756b5e-1abc-11e7-8d5e-8105f434f9bb.png">

I can log in via the safari basic auth popup, but I guess it's propagating that session through to the websocket connections?

[2017-04-06 10:44] leemhenson commented on #227
Bit more info. The headers on the ws request include (replacing the key obvs):

[code]

[2017-04-06 12:32] jippi commented on #227
hashi-ui don't do any kind of auth, so there must be some proxy in-between you and he hashi-ui server if you see any kind of auth popups :)

[2017-04-06 12:37] leemhenson commented on #227
Yes, it's our basic auth. The issue, _I think_, is that hashi-ui's websocket connections don't seem to be picking that context up from the browser.

[2017-04-06 19:31] toming90 opened #228 "nomad log becomes huge when in debug mode."
I have a nomad-ui(not hashi-ui, but I'm sure same thing will happen in hashi-ui ) running on my cluster. The nomad agent on cluster is in debug mode, which means nomad.log will record every requests it received. This seems cause a big issue that nomad log file becomes very very huge after two weeks of running(about 40G).
I think this behavior is caused by the frequent polling in backend server. It

[2017-04-07 05:39] toming90 commented on #228
It seems the new hashi-ui log is much less than nomad-ui. Let me do more research on this.

[2017-04-07 05:39] #228 closed

[2017-04-07 06:06] jippi commented on #228
keep me posted :)

[2017-04-08 08:19] memelet opened #229 "Overview of client resource usage"
Something like the clients/stats view but for all clients in one page so we can see the big picture we be quite nice.

[2017-04-08 08:43] jippi commented on #229
So you want a list of each client, and their individual resource usage? (cpu/ram/disk) ?

[2017-04-08 12:31] memelet commented on #229
Or a combined (compressed) dashboard. Something that provides a quick view of how the clients are loaded all at once.

Mesos shows the  allocated CPU vs actually used CPU for both client nodes and tasks on that node. Is that possible?

[2017-04-08 17:00] toming90 opened #230 "root directory Makefile doesn't work"
Hi, I do a vagrant up and run a "make" command in the root directory, it supposed to have a binary built, which include both backend and frontend according to wiki: https://github.com/jippi/hashi-ui/blob/master/DEVELOPMENT.md#building . But here I don't get anything build. The terminal output is:
[code]

[2017-04-08 17:16] jippi commented on #230
@toming90 there is no actual target to build both frontend+backend, maybe just `make build` (which probably should be the default target)

[2017-04-08 17:17] jippi commented on #229
the UI today doesn't show allocated, but actual usage - so maybe it's actually showing what you expect it to already ? :)

[2017-04-08 17:37] toming90 commented on #230
@jippi I tried make build, and I get a backend binary in /backend/build. I tried to run the backend binary alone, without running "yarn start" in /frontend . It makes sense for me that it displays nothing in localhost:3333/nomad page because there is no frontend running.
However, in Dockerfile, it adds backend binary to container and directly trigger it without any frontend command.

[2017-04-08 20:31] lfarnell commented on #230
@toming90 What about running make -j build? This should build everything for you in one binary

[2017-04-09 00:14] toming90 commented on #230
@lfarnell  Same thing happened if run "make -j build".  It will build a binary in /backend/build, I run this binary alone without running "yarn start" in /frontend, nothing displays when I hit localhost:3333/nomad . I checked there is no /build folder in root directory.
Does that work well on your machine?

[2017-04-09 03:40] lfarnell commented on #230
@toming90 i think i know where you have have gone wrong. So when you do make -j build, the front-end and back-end should get bundled together into the hashi-ui binary. Now where your going wrong is that your trying to access the react dev port(3333) instead of the server port(3000). Just for certainty, run make clean, then make dist-clean and finally make rebuild. After all of these complete, run

[2017-04-09 05:44] toming90 commented on #230
@lfarnell , that works! :)  The port number should be 3000. Thank you so much!

[2017-04-09 06:09] #230 closed

[2017-04-09 15:32] memelet commented on #229
Ok, but it's always nice to see both. It's hard to get memory and cpu allocations correct. Of course for memory you find out by the container being shutdown. But for cpu it's nice to know when the service (or node) is under or overallocated relative to actuals.

[2017-04-17 16:39] Cryson opened #231 "Nomad exposing address field when running TLS for RPC. Similar also showing for consul checks"
I just enabled TLS in nomad and I am getting a ton of TLS errors now in hashi-ui for RPC. What is happening is hashi-ui is trying to validate the nomad TLS certificate against the IP address being exposed by nomad which is invalid, see errors below:

`hashi-ui-linux-amd64: ERROR #033[0m [ClusterStatistics] Unable to fetch node stats for blah (Get http://127.0.0.1:4646/v1/node/02d76028-228e-02bb-40

[2017-04-17 16:55] multipathmaster commented on #231
I would like to see this figured out as well.

[2017-04-17 18:27] jippi commented on #231
maybe #194 is relevant?

[2017-04-18 02:58] Cryson commented on #231
Agreed, I found the same the further I looked into it.

I have opened a similar issue with nomad that stems from the same IP exposure issue  [nomad #2568](https://github.com/hashicorp/nomad/issues/2568) which might prompt the need for nomad to expose dns fqdn names or node names rather than IP's, or give us the option in nomad.conf to do so.

Closing this issue as it correlates with a nomad issue

[2017-04-18 02:58] #231 closed

[2017-04-18 11:52] jippi commented on #227
What context do you mean @leemhenson ? is it a proxy issue #204 ?

[2017-04-18 13:50] leemhenson commented on #227
Hi Jippi. So I've tried using a couple of modern Android devices and they work just fine. Checking the headers on those requests shows the `ws` requests include the `Authorization` header. The iOS `ws` connections do not.

Unless you know of a way to do something like:

[code]

I guess we'll have to introduce a standard cookie-based auth mechanism into our stack, and take out this simple Basic Aut

[2017-04-18 13:56] jippi commented on #227
Would love to have a fix in hashi-ui, or a work-around documented somewhere for it

If you come up with something that works nicely, i would love to have it in the project :)

[2017-04-18 13:57] jippi commented on #227
Not sure if http://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api would work :)

[2017-04-18 14:06] leemhenson commented on #227
This is probably the issue: https://bugs.webkit.org/show_bug.cgi?id=80362

[2017-04-26 11:28] jrasell commented on #222
@jippi do you have any thoughts on how this work at a high level? I am happy to try and take a look into kicking this off.

[2017-04-26 12:34] jippi commented on #222
I don't know much about terraform to be honest, never used it for anything serious - so not sure how a UI would fit on top of it to be honest :)

[2017-04-26 13:59] lfarnell commented on #222
@jrasell What did you have in mind in terms of a UI? mirror terraform enterprise UI? I think this would be someone difficult currently due to the fact that Terraform does not have a Rest API like Nomad and Consul to even interact with. While you could execute commands via an exec, I think there is a better way, I just don't what that might look like right now. It would be interesting to know how t

[2017-04-26 15:03] jrasell commented on #222
@lfarnell completely agree with you.

One of the nice and possibly simpler draws of TFE is that you have a central library UI of all your TF modules which can then lead to features which allow interaction with those modules and such. The problem here is that modules and in general TF code can be stored in any number of Git/SVN stores which all use widely different APIs.

[2017-04-27 01:43] sethvargo opened #234 "Support Consul SSL and Custom Certs"
At present, there doesn't appear to be support for custom certs, or SSL addresses. You can read more about [Consul encryption and TLS here](https://www.consul.io/docs/agent/encryption.html), but support would require:

- Allowing https:// URLs (currently they are rewritten to http://https://127.0.0.1:8500)
- Support `CONSUL_CAPATH`, `CONSUL_CLIENT_CERT`, and `CONSUL_CLIENT_KEY`

[2017-04-27 06:44] jippi commented on #234
@sethvargo do you run `latest` tag for these cases or a tagged version?

[2017-04-27 13:53] sethvargo commented on #234
Hi @jippi

I thought that too, but something weird is going on. I was able to use the envvars to get past the url rewriting, but I'm still getting 'bad tls cert' on every request 😦

[2017-04-27 15:09] sethvargo opened #235 "Add /health endpoint"
The current health check is just to hit `/`, but that just guarantees that the file server is running; it does not check that hashi-ui can connect to the various backends and return data.

[2017-04-27 16:33] ognemuh opened #236 "nomad_connection.go - app crashes when keepalive writing to closed channel"
``panic: send on closed channel``
``goroutine 1640454 [running]:``
``panic(0xc8f1a0, 0xc420ba2810)``
 `` /home/travis/.gimme/versions/go1.7.linux.amd64/src/runtime/panic.go:500 +0x1a1
main.(*NomadConnection).keepAlive(0xc4202b2c60)``
  ``/home/travis/gopath/src/github.com/jippi/hashi-ui/backend/nomad_connection.go:302 +0x238
created by main.(*NomadConnection).Handle``
 `` /home/travis/gopath/src/g

[2017-04-27 17:36] jippi commented on #236
what version of hashi-ui do you run? latest?

[2017-04-27 17:37] jippi commented on #234
@sethvargo would you be able to cook up a new folder in https://github.com/jippi/hashi-ui/tree/master/scripts with a consul node with tls i can test with? :)

[2017-04-28 09:38] ognemuh commented on #236
Yep, pull and run latest docker tag.

[2017-04-30 18:41] #236 closed

[2017-04-30 18:44] jippi commented on #217
Fixed in #225

[2017-04-30 18:44] #217 closed

[2017-05-02 16:34] Xopherus commented on #229
@jippi having resource usage stats for individual clients would be super helpful for sizing containers

[2017-05-02 17:31] jippi commented on #229
@Xopherus if you go clients > click on a client -> stats there should be individual stats, or not what you mean? :)

[2017-05-02 17:33] Xopherus commented on #229
sorry i misspoke. i mean stats on a per job basis. that way i can validate that the resources i've allocated are not only sufficient for the job, but that i don't over allocate resources.

[2017-05-02 18:41] jippi commented on #229
please do :) i would love to do job level stats too :)

[2017-05-02 19:07] Xopherus opened #237 "Job Resource Stats"
It would be useful to see live resource usage stats on a per-job basis. Right now we have resource stats aggregated at the nomad client level, but that's only useful for monitoring clients.

One common use case my team is dealing with is ensuring that we correctly allocate resources for each job. By that I mean we provide enough resources for the job to run but not too much to be overprovisioned.

[2017-05-02 21:10] ericwestfall commented on #235
Happy to implement something for this @jippi, if you'd like a hand ...

[2017-05-03 06:23] jippi commented on #235
@ericwestfall would be amazing ! :)

[2017-05-08 09:40] lolovarga opened #238 "use ?stale=true in the request to the nomad servers"
We noticed that hashi-ui generates a lot of network traffic between the nomad servers.
Because you hit the endpoint without allowing stale reads, the server will forward the request to the the leader. You can enable stale reads which will return the data from the server that is hit with ?stale=true.
Nomad docs that describe this behaviour: https://www.nomadproject.io/docs/http/#consistency-modes

[2017-05-08 09:55] jippi commented on #238
That seems like a nice improvement, a new flag, should be default ON imo, and allowing people to turn it off if they can't accept potential stale data

Are you able to PR the required changes? :)

[2017-05-08 10:33] lolovarga commented on #238
I could, do you have to give me permissions to push a new branch to your repo? This is what I get:
`✔ ~/src/hashi-ui [AllowStale L|✔]
11:30 $  git push --set-upstream origin AllowStale
ERROR: Permission to jippi/hashi-ui.git denied to lolovarga.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.`

[2017-05-09 00:31] josegonzalez opened #240 "Stopping a job should redirect to /jobs route on success"
Currently, it stays on the existing page, which may be misleading if you leave your computer and come back to it later.

[2017-05-09 00:32] josegonzalez opened #241 "Refreshing a non-existent/stopped job results in empty jobs/view page"
It should instead redirect to the /jobs/index route and potentially show an error.

[2017-05-09 00:33] josegonzalez opened #242 "Stopping jobs in bulk"
It would be cool to have a way to select multiple jobs and stop them all at once. Not sure how to handle error cases, but this would allow one to avoid clicking into multiple jobs to stop them.

[2017-05-09 00:49] josegonzalez opened #243 "Inline action buttons on jobs page"
When the page is mobile, having the actions as a dropdown list makes sense, but on larger screens, they simply add an extra step to running specific actions.

[2017-05-09 00:56] josegonzalez opened #244 "Changing to same cluster results in a full page reload"
If you are on a cluster:

- click the world button on the top-right
- click the same cluster

This will result in a full-page reload. Instead, it should simply switch to the cluster tab.

[2017-05-09 00:56] josegonzalez opened #245 "Hide the cluster world icon when there is only one nomad cluster"
Options should only be exposed when there is something to select.

[2017-05-12 04:06] ericwestfall commented on #235
This would be quite useful, I'll try and throw something together.

[2017-05-17 13:04] #238 closed

[2017-05-26 17:37] jippi opened #251 "pull requests no longer build a docker tag"
https://travis-ci.org/jippi/hashi-ui/builds/236416191#L425

[2017-05-30 13:53] sboily commented on #234
Hello, i did a test and it works with this command.

[2017-06-05 07:32] MattiasGees opened #253 "Jobs table is not correct"
I installed hash-ui dashboard by running the docker image as an nomad job. Everything seems to be working, but I am running into a difference between hash-ui and the nomad cli when requesting the status of the job.

At this moment I have 2 jobs on my nomad cluster and the `webfiles` job in hash-ui stays in starting, when I check the status through the nomad cli, the status in the cli is running. I

[2017-06-05 07:41] MattiasGees commented on #253
Some more information I just found out.

I started a 3rd job and after that my webfiles job in the hash-ui went from `starting` to `running`, but now my new 3rd job stays in `starting` mode while I the CLI says it is `running`.

[2017-06-05 08:21] jippi commented on #253
Hi,

Those numbers come directly from the API, I don't do any kind of special treatment of those numbers - the numbers are in the API `http://localhost:4646/v1/jobs` - can you verify those numbers matches either the CLI or hashi-ui?

[2017-06-08 07:01] MattiasGees commented on #253
I will check this out this evening or tomorrow.

[2017-06-09 07:41] MattiasGees commented on #253
@jippi I did some tests and from what I see, the API is correct.

Screenshot of hash-ui
![screen shot 2017-06-09 at 09 39 13](https://user-images.githubusercontent.com/2216724/26965789-a22a412e-4cf7-11e7-9d88-f14e83606f5c.png)

[code]

[2017-06-10 12:39] skyrocknroll commented on #253
is it because of stale read enabled ?

[2017-06-12 07:00] MattiasGees commented on #253
Setting hashi-ui `NOMAD_ALLOW_STALE` to `false` should solve this?

[2017-06-12 13:49] jippi commented on #253
worth a shot? :)

[2017-06-13 13:52] jippi commented on #234
@sboily sweet! can you document that in a PR ? :)

[2017-06-13 14:09] sboily commented on #234
Yes.

[2017-06-14 06:59] MattiasGees commented on #253
I will test this out at the end of next week. Leaving on holiday and going to dig deeper when I am back.

[2017-06-14 09:15] rejeep commented on #237
Would love to see this feature! 👍

[2017-06-14 12:58] jippi commented on #237
Me too ! :D

[2017-06-22 17:14] parnamis commented on #222
+1
How about representing all the instances by Region on UI, reading it from state file ? we mostly keep our state files to git so we don't lose the state of it.

[2017-06-29 09:03] sethvargo commented on #234
Ah okay - those envvars work. Thanks!

[2017-06-29 09:03] #234 closed

[2017-07-01 16:03] marcjay commented on #234
There is an actual issue here, the version of the Consul API used predates [this commit](https://github.com/hashicorp/nomad/commit/78af6000704860e81edeb4b21199ee3f3ca657e9#diff-40cd17322eac38db030c42465d64597b) which allowed for the API to retrieve CONSUL_CACERT, CONSUL_CLIENT_CERT and CONSUL_CLIENT_KEY environment variables.

I've opened PR #256 to fix this

[2017-07-01 16:09] jippi commented on #234
Merged, thank you!

[2017-07-03 07:59] MattiasGees commented on #253
I tested it and the `NOMAD_ALLOW_STALE` didn't solve it. I still had the same behaviour.

[2017-07-03 08:53] skyrocknroll commented on #253
I have also tried it. Still issue is occurring.

[2017-07-06 10:34] code-eater opened #257 "Feature Request: Multiple consul and nomad addresses"
I'm running hashi-ui and i really like it.
It gives me a great overview of everything running in my cluster.
So my problem is that i don't want to deploy hashi-ui in my cluster on nomad (because of security). So i created a separate minimal vm where hashi-ui is running on. But at the moment i can only connect hashi-ui to one node in the cluster.

If i maintain this node and take it offline / reboo

[2017-07-06 11:12] jippi commented on #257
I think it could work, though honestly it's not a need i have myself, so probably won't implement it any time soon. A contribution with the required changes could be accepted.

A hack around it would be to connect to a CNAME which your consul cluster keep in sync to a healthy backend node - or simply query consul catalog for IPs that are healthy as nomad/consul servers and restart hashi-ui with on

[2017-07-06 11:26] code-eater commented on #257
thanks for that workaround. the restart way is how i do it currently. I just thought perhaps there is a better way to do it. Thanks for your reply...

[2017-07-07 22:53] AshleyByeUK opened #259 "Failed to start consul hub could - not fetch datacenters from API"
When trying to launch hashi-ui docker image, I get the following error:
[code]
However, if I curl, I get:
[code]
I get the same error if I try to include the launch in a `docker-compose.yml` file too:
[code]
What is the configuration problem I should be fixing? Thanks :-)

[2017-07-08 08:40] jippi commented on #259
127.0.0.1 inside the docker container isn't same as 127.0.0.1 on the host

`docker run -p 8000:3000 --network host jippi/hashi-ui -consul-enable -consul-address localhost:8500` should work

[2017-07-08 08:40] #259 closed

[2017-07-15 20:39] thomas-mcdonald opened #262 "Allocations -> Allocation page transition is slow"
Still root causing but thought I'd file an issue to note the page transition from the allocations table to an individual allocation is super slow on our instance, five-ten seconds.

Looking at profiling, looks like a _lot_ of event handlers are being removed as the allocations table gets unmounted.

[2017-07-15 21:12] thomas-mcdonald commented on #262
`react-append-to-body` takes ~200ms to clean up (while running the profiler) for each instance of AppendedReactTooltip. This cost is contained in [deleteElement](https://github.com/jpgorman/react-append-to-body/blob/master/src/component-registry.js#L20).

<img width="310" alt="screen shot 2017-07-15 at 10 05 43 pm" src="https://user-images.githubusercontent.com/197928/28242674-d641a2a8-69a9-11e7-9

[2017-07-15 22:06] jippi commented on #262
I've noticed this too, not sure what change caused it :o

[2017-07-17 10:39] jippi commented on #262
found the problem :)

[2017-07-17 13:06] jippi commented on #251
Fixed

[2017-07-17 13:06] #251 closed

[2017-07-17 13:06] jippi commented on #245
Fixed in #255

[2017-07-17 13:06] #245 closed

[2017-07-17 13:07] jippi commented on #244
Fixed in #255

[2017-07-17 13:07] #244 closed

[2017-07-17 13:08] jippi commented on #215
Closing as this is not going to happen unless someone contributes :)

[2017-07-17 13:08] #215 closed

[2017-07-17 13:10] jippi commented on #227
Closing at it seem to be a browser bug - if there is a work-around, a contribution for the fix is more than welcome

[2017-07-17 13:10] #227 closed

[2017-07-17 13:10] jippi commented on #237
Is this per job or per allocation ? :)

[2017-07-18 01:09] cross311 opened #263 "Backend Crashes with `panic: send on closed channel`"
Have seen the backend crash many times with the same error message:

[code]

[2017-07-18 01:15] cross311 commented on #263
Above that error message I see this:
[code]

[2017-07-18 07:16] jippi commented on #263
Fixed by #264

[2017-07-18 11:58] thomas-mcdonald commented on #262
That's pretty similar to the fix approach I was working on - `FormatTime` probably also needs to be switched away from the `AppendedReactTooltip` implementation.

[2017-07-18 12:25] jippi commented on #262
:) i packed my fix into a general update of some of the UI setup, since nomad 0.6 will have deployments, so need more space for that in the menu :)

[2017-07-18 14:13] cross311 opened #265 "Job Top Bar is using Name not job Id"
Our deployment mechanism creates a nicer name then the id when we upload.  This however breaks with the new changes to the jobTopBar that using the job.Name in the url.  The url is actually based on the Id.  This has probably not broken anyone else because they most likely have them as the same.

[2017-07-18 14:54] #265 closed

[2017-07-18 19:24] cross311 commented on #263
@jippi We survived for a bit, but we still got the same issue with my fix.  Do you mind re-openning this as a bug.  I will take a look at it, since it is causing our nomad ui to restart around 3 times a day.  I am thinking it is more of a race condition.

[2017-07-19 09:23] jippi commented on #263
Alright, please paste a full trace output from one of these crashes, then I can debug it :)

[2017-07-19 14:31] multani opened #268 "Improve the task state history messages"
This is the output as reported by the Nomad CLI when requesting the information for an allocation:

[code]

And what's being displayed by Hashi-UI:
![screenshot from 2017-07-19 16-26-45](https://user-images.githubusercontent.com/65311/28372192-4ee2f278-6c9f-11e7-8ca2-3f55abf798b0.png)

Ideally, Hashi-UI should reuse this code from [the `alloc-status` command](https://github.com/hashicorp/nomad/blo

[2017-07-19 15:40] jippi commented on #268
oh, its probably missing a few new fields in the driver output - its a pure JS fix to do that

I guess you mean the missing Message/Reason values?

[2017-07-19 15:44] #262 closed

[2017-07-19 16:04] jippi commented on #268
The problem is here https://github.com/jippi/hashi-ui/blob/master/frontend/src/components/AllocationInfo/AllocationInfo.js#L81-L90

There are probably a new field in the API with those new keys/descriptions

So hit the nomad API endpoint for your allocation and see what keys hold the different descriptions and add them in `OR` / `||` mode to the list

[2017-07-19 19:29] marcjay opened #270 "HTTPS configuration for Hashi-UI does not support ENV variables"
The ENV vars: HTTPS_ENABLE, SERVER_CERT and SERVER_KEY should be equivalent to the cli flags but they have no effect.

This should supposedly work, but from looking at the code, I think this was missed out. I'll submit a PR shortly

[2017-07-19 19:40] remmelt opened #271 "Deregistering a service does not work in Docker Compose"
Use this `docker-compose.yml`:

[code]

As expected, a service called `consul` appears in http://localhost:8000/consul/dc1/services/consul and a `hashi-ui` service is at http://localhost:8000/consul/dc1/services/hashi-ui

Clicking the DEREGISTER button should call the Consul service running as host `consul` due to Docker Compose's registration of host names. This is where it gets its initial infor

[2017-07-19 19:42] jippi commented on #270
What version of hashi-ui have you tested this with? and is it for nomad or consul?

[2017-07-19 19:45] marcjay commented on #270
It's the latest version. I can see the problem - this PR #258 added support for CLI flags, but it didn't add the same changes to ParseAppEnvConfig

[2017-07-19 20:14] lfarnell opened #273 "Windows executable does not contain .exe extension"
User from Gitter mentioned that the file he was downloading from GitHub releases wasn't working with Powershell Expend-Archive cmdlet. After looking at the file, it is indeed an executable file. The problem is that the file does not contain the .exe extension needed in order to run. It looks like this is related to Travis and how it builds the windows binary

[2017-07-19 21:31] #270 closed

[2017-07-19 23:22] jcua commented on #237
I believe this is per allocation. I tried to pull this information before but without success. This was my previous attempt.

1. Get the full allocation id by using this (because the API does not work with the shorten form of the allocation id):
   `curl -k https://nomad:4646/v1/allocations | jq '.[] | [.JobID, .ID, .TaskGroup, .ClientStatus ] | join (" ")' | grep running`

2. Use this endpoint ht

[2017-07-20 12:05] multani commented on #268
That would work for some (maybe most) events, but there will still be noticeable difference between the command line tool and what the API returns.

For example, consider the following event as returned by the API (this event is not really interesting by itself, but hopefully shows the initial problem):
[code]

The CLI would display this as ["Task received by client"](https://github.com/hashicorp/

[2017-07-20 12:41] #268 closed

[2017-07-20 15:51] remmelt commented on #271
This only works when you set the bind interface:
[code]

So: not a bug. 🎉

[2017-07-20 15:51] #271 closed

[2017-07-26 14:51] cross311 commented on #263
@jippi in the task is the trace that we get in the logs.  Is there more that you need?

[2017-07-26 15:19] jippi commented on #263
there should be other go-routines running, need their traces too :)

[2017-07-27 11:28] jrasell opened #277 "FEATURE: Display Nomad job deployment information"
The release of Nomad 0.6.0 brings the feature of deployments, and it would be lovely to display information about a job deployment history/status alongside the job information.

Initial thinking could be that deployments are displayed in two ways:
1. The jobs list page a column could be added stating the last deployment status
2. The job details page could gain a deployment tab, which details depl

[2017-07-27 12:40] jippi commented on #277
i like both 1 +2

but also think we need a dedicated /deployments page in the left menu to reflect https://www.nomadproject.io/api/deployments.html

[2017-07-27 12:41] jippi commented on #277
Ideally we would have a job or deployment page to control promote/revert and all the other actions around the new APIs

[2017-07-27 12:45] jrasell commented on #277
Yeah that makes sense; although I do try to avoid people running the UI in read/write mode.

[2017-07-27 13:53] jippi commented on #277
I personally use it in both modes, depending on instance :)

[2017-07-31 14:47] shantanugadgil opened #281 "allocation status colors don't show up in Firefox"
Hashi-UI version: 0.14.0
OS: Windows 7 x64
Firefox version: 54.0.1
Vivaldi version: 1.10.867.48

* As seen in Firefox

![image](https://user-images.githubusercontent.com/2508915/28783169-1034ce10-762d-11e7-9bff-3a62f9fce468.png)

* As seen in Vivaldi:

![image](https://user-images.githubusercontent.com/2508915/28783208-3b25d0f6-762d-11e7-87fa-65dd719ec85c.png)

Regards,
Shantanu

P.S.
Do let me kn

[2017-07-31 19:22] bgilner opened #282 "Search by key"
A useful enhancement would be allowing a search on key for key / value pairs. It could also be implemented and combined with other search functionality into an omnibox.

[2017-08-01 07:19] jippi commented on #282
Yes, really wanted to do this for a while now :)

[2017-08-01 12:23] dormunis opened #284 "not all tasks appear in the allocations for each job"
I've got a job with multiple tasks, when I go to the allocations tab and click on that specific job (id), I see only one task out of them in the Task History section, even though I know that these tasks are in fact running (also, I can see their logs, in the Logs tab)

Does anyone else get that? It happened on the previous version (0.5.6) as well

[2017-08-01 15:07] fkgre opened #285 "websocket is not working on windows ie"
i tried but not working. below error.

WebSocket Error: Incorrect HTTP response. Status code 200, OK

this issue will happen http and websocket(ws) use same port.for example

http://localhost:8080/
ws://localhost:8080/

could you please give a option that set http and websicket port separately

[2017-08-01 15:50] jippi commented on #285
What version of IE ?

[2017-08-02 02:08] fkgre commented on #285
Hashi-UI version: 0.14.0
OS: Windows 2012 x64
IE version: 11.0.42

below are working fine
chrome: 59.0.3071
firefox:54.0.1

[2017-08-03 08:37] Goobs opened #286 "Edit Job modal window closes automatically"
My hashi-ui instance works in Nomad cluster. After it's job restart yesterday Nomad fetched `:latest` tag from Docker hub and seems that it is broken. When I try to open 'Edit Job' modal and do some chances, it closes automatically after few seconds. For now I am forced to use old `v0.13.6` version.

Docker image hash for broken version is `8d3fc71a8dae`

[2017-08-03 16:50] danlsgiga commented on #286
Same here! Rolling back to 0.13.6

[2017-08-04 07:28] #286 closed

[2017-08-04 07:28] jippi commented on #286
Should be fixed in master/latest now, please allow ~5min for the new docker image to be available

[2017-08-04 07:28] jippi commented on #284
This should be fixed in master :)

[2017-08-04 07:28] #284 closed

[2017-08-04 08:57] jippi commented on #285
I don't use IE myself (on OSX) so will probably not spend time trying to fix this.. If it works in Firefox, Chrome, Safari and Edge, then I'll probably not spend too much time on a browser that is basically in legacy mode at this time :(

[2017-08-06 05:07] shantanugadgil opened #287 "[rfe] update build process to use zip file"
Hi,
Would the following enhancements  be possible to the current build process of Hashi-UI:
* use zip file with version number in it
* .exe for the Windows' binary

This will ease the scripts that I (and I assume other folks too) have for downloading all the HashiCorp tools.

As of now only Hashi-UI is the exception 😀

Regards,
Shantanu

[2017-08-07 07:58] jippi commented on #185
Done

[2017-08-07 07:58] #185 closed

[2017-08-07 16:27] sholland opened #288 "ipv6 not supported?"
# Listen Address complains about too many colons
./hashi-ui-linux-amd64 --nomad-enable --listen-address 2620:10d:c081:11::68
09:23:50.959 nomad.go:31 ▶ INFO  Starting handlers for region: global
09:23:50.959 nomad.go:50 ▶ INFO    -> Connecting to nomad
09:23:50.959 nomad.go:59 ▶ INFO    -> Starting resource watchers
09:23:50.959 main.go:122 ▶ INFO  Nomad client successfully initialized
09:23:50.96

[2017-08-07 17:23] jippi commented on #288
Never tested with IPv6, nor do I have an environment with IPv6, so would need outside help maintaining that :)

[2017-08-07 18:40] lfarnell commented on #288
I looked into this and a code change would be needed in order for gorilla mux to listen on an IPv6 address

[2017-08-07 19:58] sholland commented on #288
I can definitely help with any testing. Just an fyi, In looking at more, it looks like if I omit the address it will listen on ipv6. Or if i specify the listen-address as 0.0.0.0:<port> , it will actually work with ipv6.

 shollandadmin@prn-sholdev01:~$ netstat -anl | egrep -i 80                                                                         │·························
tcp6       0      0

[2017-08-07 21:00] sholland commented on #288
imma close this issue. I thought i tested using the listen-address [2620:10d:c081:11::68]:80 and it was failing, but I just ran again and it worked. Sorry for the trouble.

[2017-08-07 21:00] #288 closed

[2017-08-08 05:57] shantanugadgil opened #289 "remember the job selection filters"
Version: v0.14.2

Could you add a feature so that the job selection filters can be remembered on the **Jobs** page.

Today, when I click somewhere else, say "Allocations", and come back to the **Jobs** page the selection filters are lost.

Thanks and Regards,
Shantanu

[2017-08-08 11:55] shantanugadgil commented on #289
AWS EC2 console _absolutely_ remembers EC2 search filters based on TAGS, states, etc. In which case does it forget search filters ?

[2017-08-08 11:59] jippi commented on #289
My point is that AWS only does it in some UIs, even within EC2 dashboard, and especially between different AWS services.. it was just an example, not a reason not to do it or not.

As I said, I would need some discussion from the community wether this is desired or not :)

[2017-08-08 22:00] wday commented on #253
Seeing this too, it looks like it's something in the ui/browser (maybe caching or something). The results coming back over the websocket are correct and match cli / inspecting allocations (job has running tasks) but the ui shows stale numbers (job has tasks in starting).

[2017-08-09 06:32] jippi commented on #253
does it happen with the latest master?

[2017-08-09 14:02] wday commented on #253
Not sure, our build is probably 6 weeks old at this point. I'll update once I've had a chance to rebuild and test.

[2017-08-09 15:08] jippi commented on #253
@wday  you can pull the docker image or the binary from the release tab  :)

[2017-08-09 15:19] bgilner commented on #287
The workaround I use is:

1) download: https://github.com/jippi/hashi-ui/releases
2) regex to extract version with: <a\shref=""/jippi/hashi-ui/releases/download/v([^/]*)/hashi-ui-windows-amd64

[2017-08-10 12:58] SoMuchToGrok opened #290 "TLS requests to nomad servers failing x509 validation"
Version: 0.14.2

We're running into TLS-related errors with the latest version. Haven't been able to do a deep dive yet, but it appears that the hashi-ui is trying to make TLS requests to the nomad servers using "nomad.service.consul", but those requests are failing because the servers don't have "client.global.nomad" in the _X509v3 Subject Alternative Name_ section of their cert.

`
global: Get h

[2017-08-14 06:31] gauravyadav01 opened #291 "Task Stats"
Task Stats does not give the running task until you hover the mouse. When you refresh the browser , it again returns to 0  and it does not shows up until you hover the mouse.

[2017-08-14 06:34] jippi commented on #291
Can you please explain the issue(s)  ? sounds like two distinct problems?

Please provide reproducible steps, browser info, hashi-ui version and steps needed to see the problem

[2017-08-14 16:23] gauravyadav01 commented on #291
Hi Christian,
thanks for prompt reply.
Here are the screen shots 1 and 2.
First screen shots is right after refreshing the browser.
Second screen shots is when you hover the mouse.

Browser : Google chrome Version 60.0.3112.90 (Official Build) (64-bit)
Browser: IE 11.0.44

hashui version : v0.14.2

log message -------------------
2017-08-14_16:14:46.96904 (19837) 2017/08/14 16:14:46.968354 {"level

[2017-08-15 13:32] hsmade opened #293 "have job overview Allocation Status reflect latest deployment"
When #277 is done, it would become possible to have a filter on the allocations used for the *Allocation Status* on the job overview page. This would then restrict the list of allocations to the latest deployment.

Currently, when doing lots of deploys, the *Allocation Status* bar gets filled up with failed and completed counts for allocations that have been replaced by others, in newer deployment

[2017-08-15 13:38] jippi commented on #293
I haven't bumped any infra to 0.6, but seems like the alloc api endpoint don't expose anything related to the deployment ( https://www.nomadproject.io/api/allocations.html )

So would probably be a new menu called 'deployments' where you can see the allocations belonging to each deployment ( https://www.nomadproject.io/api/deployments.html )

[2017-08-15 13:45] hsmade commented on #293
No, sadly that is reversed in the api: https://www.nomadproject.io/api/deployments.html#list-allocations-for-deployment :(

[2017-08-19 15:50] alliyaan commented on #142
sudo mkdir -p $GOPATH/src/github.com/skydive-project
sudo git clone https://github.com/skydive-project/skydive.git $GOPATH/src/github.com/skydive-project/skydive
cd $GOPATH/src/github.com/skydive-project/skydive
sudo make install

**ali@ali-machine /src/github.com/skydive-project/skydive $** sudo make install
go get github.com/kardianos/govendor
/bin/govendor sync
make: /bin/govendor: Command not

[2017-08-19 15:52] alliyaan opened #294 "Makefile:104: recipe for target 'govendor' failed make: *** [govendor] Error 127"
$ sudo mkdir -p $GOPATH/src/github.com/skydive-project
$ sudo git clone https://github.com/skydive-project/skydive.git $GOPATH/src/github.com/skydive-project/skydive
$ cd $GOPATH/src/github.com/skydive-project/skydive
$ sudo make install

ali@ali-machine /src/github.com/skydive-project/skydive $ sudo make install
go get github.com/kardianos/govendor
/bin/govendor sync
make: /bin/govendor: Command

[2017-08-19 20:36] lfarnell commented on #294
@alliyaan I believe you posted this to the wrong GitHub project.

[2017-08-19 20:36] #294 closed

[2017-08-22 17:03] aconte76 commented on #291
Task Stats is also not well rendered on page:

Here a snapshot from my Chrome v.60.0.3112.101

![image](https://user-images.githubusercontent.com/12640737/29577622-64384c76-876c-11e7-8c12-a5d5eb780389.png)

[2017-08-22 18:28] jippi commented on #291
Can you try the docker container `jippi/hashi-ui:pr-295` ? both master and `jippi/hashi-ui:pr-295` works for me

Also, can you check the Console for any errors?

What version of hashi-ui do you run?

[2017-08-23 14:09] alxark opened #296 "nomad cluster functions (drain,remove node,garbage collector)"
Hello. First of all i would like to thank you guys for doing great job. Your app made my life better =)

I would like to ask you to add some function to control nomad cluster:

1. enable / disable drain node ( currently there is only current drain status)
2. run garbage collector (/v1/system/gc)
3. force server leave, to remove dead nodes

Thank you.

[2017-08-24 07:31] #240 closed

[2017-08-24 07:31] #241 closed

[2017-08-24 07:31] #253 closed

[2017-08-24 07:31] #277 closed

[2017-08-24 07:31] #281 closed

[2017-08-24 07:31] #293 closed

[2017-08-24 07:36] jippi commented on #290
I think this is a bug in Nomad https://github.com/hashicorp/nomad/issues/3013 and https://github.com/hashicorp/nomad/pull/2490

I'm not doing anything different in the Go part of hashi-ui on TLS, so if it fails, it an upstream SDK bug :(

[2017-08-24 07:36] #290 closed

[2017-08-24 07:38] jippi commented on #285
Closing the issue as IE11 is kinda old anyway and quirky

[2017-08-24 07:38] #285 closed

[2017-08-24 07:40] jippi commented on #263
Closing from lack of feedback, please try the latest version to see if it has fixed anything :)

[2017-08-24 07:40] #263 closed

[2017-08-24 07:41] jippi commented on #257
Closing as the workaround seem good enough for a narrow use-case

[2017-08-24 07:41] #257 closed

[2017-08-24 07:42] jippi commented on #222
Closing, i would love to expand hashi-ui on this, but until concrete initial work has done, I don't want it to stay open in the issue tracker - feel free to continue the discussion though :)

[2017-08-24 07:42] #222 closed

[2017-08-24 07:43] jippi commented on #209
This is mostly done in the v0.15.0 release (minus bulk downloading logs)

[2017-08-24 07:43] #209 closed

[2017-08-24 09:57] #296 closed

[2017-08-24 11:52] pznamensky opened #297 "seems that hashi-ui (v0.15.0) doesn't honor -nomad-skip-verify flag"
Hi,
I'm getting error in nomad cluster with enabled TLS auth.
[code]
This is know issue: https://github.com/hashicorp/nomad/issues/3013
I hoped that `-nomad-skip-verify` flag could help me. But it's not. Issue still persist.
Does this flag work?

[2017-08-24 11:56] jippi commented on #297
it should work, can you try with the ENV key instead?

[2017-08-24 12:26] pznamensky commented on #297
It is strange, but ENV key and cli flag influents hashi-ui in differerent ways.
Nevertheless error doesn't disappear.

The same page with ENV key:
[code]

And without ENV key, but with `-nomad-skip-verify` flag:
[code]
As you can see, error occurs in both cases but error messages are different:
[code]
vs
[code]

[2017-08-24 13:50] jippi commented on #297
Okay, I think we would have to wait for upstream to get it fixed :(

[2017-08-27 07:35] #291 closed

[2017-08-27 11:38] #211 closed

[2017-08-27 12:38] jippi commented on #211
This is available in 0.16.0 :)

[2017-08-27 17:42] alxark commented on #296
Damn you are fast =) Just got new functions! Thanks a lot again =)

[2017-08-27 17:54] alxark opened #298 "log fetching interface"
Hello again and thanks again. I've got another proposal for this amazing app. I'm searching for method to keep all nomad jobs logs on separate host and store them to ELK stack via syslog. Currently there is no method to integrate ELK with hashi-ui. I would like to see
API to integrate 3rd party log sources via WebSockets system or something like that. I think it's not a problem to create small dae

[2017-08-28 11:06] alxark opened #299 "Improve Nomad Cluster view"
Hello. I would like to make a small proposal. Currently you are using round charts to display cluster load. IMHO it's not optimal and as you can see there is a big blank are on the screen. I think it will be better to use some kind of progress bar. This will reduce total consumed area and should be more useful.

![screen shot 2017-08-28 at 12 02 35](https://user-images.githubusercontent.com/200121

[2017-08-28 12:37] jippi commented on #298
Duplicate of #188

[2017-08-28 12:37] #298 closed

[2017-08-28 14:04] alxark commented on #188
I would like to see an API for streaming logs from 3rd party systems to hashi-ui. I think API should have following functions:
1. support for real-time log streaming from log backends ( like elasticsearch) to hashi-ui server via websocket or any other type of persistent connection
2. support for some kind of query to filter output data
3. API to fetch supported filtering options ( for example info

[2017-08-28 15:39] josegonzalez commented on #188
@alxark that sounds like a completely separate project then, no?

[2017-08-28 17:04] alxark commented on #188
API service? Absolutely yes. But API client should be implemented on hashi-ui side. I think it might be at least 2 drivers on start:
* elasticsearch
* plain text syslog
I can implement such service but i need at least some small API specification to begin.
P.S. currently i need ES driver for one of my nomad installations

[2017-08-28 17:17] justenwalker opened #300 "panic: send on closed channel"
Hashi-UI panics frequently due to sending on closed channels. This is not unique to a specific set of actions, but eventually happens probably due to a race condition between sends on a channel and the shutdown process.

An example of such a panic below:
[code]

[2017-08-28 17:20] justenwalker opened #301 "hashi-ui/nomad: Javascript error when viewing Jobs page"
When viewing the jobs page directly with a hard-link, none of the jobs will load.
The below JS error appears in the console:

[code]

[2017-08-28 22:15] dropje86 opened #302 "up/downscaling broken"
It seems Nomad 0.6 introduced differences between what is rendered by the CLI with `nomad run -output job.hcl` and what is retrieved by inspecting the API. The latter has an incorrect representation of the job which leads to the following error if no `update { }` stanza is configured:

[code]

The API returns the following update stanza:
[code]
while the CLI renders this:
[code]
This seems to me l

[2017-08-28 23:41] sholland opened #303 "There a way to disable the filesystem feature or a way to block certain files from being viewable?"
There an way to disable the filesystem feature or a way to block certain files/patterns from being viewable?

Even if I run hashi-ui-linux-amd64 with ---nomad-hide-env-data, I can still see variables which have passwords  set ( see attached )

<img width="988" alt="screen shot 2017-08-28 at 4 40 49 pm" src="https://user-images.githubusercontent.com/1458713/29798092-b1273c7a-8c0f-11e7-8786-d73d4d91

[2017-08-29 00:12] diptanu commented on #303
@jippi Yo, any help with this will be very appreciated!

[2017-08-29 00:14] diptanu commented on #303
@sholland Well, that text you pasted is from the file system, not env var of the process. I think these are two different things that needs to be blocked - a. Env Vars, b. File system.

I would also want a flag for hiding job files since in a multi-tenant environment I don't want users to see each other's job files.

[2017-08-29 02:36] lfarnell commented on #303
@sholland I can see your confusion here. The  --nomad-hide-env-data flag disables whether or not the Nomad env{} block values should be hidden, not environment variables. Currently there is no whitelist/blacklist or ACL's for either env vars or anything on the file system.

@diptanu Yeah, currently it doesn't look like this exists. I think this is something we should have.

[2017-08-29 02:59] lfarnell commented on #299
@alxark I will defer to @jippi on this one but i don't think this is a change that would be made. I personally don't think a progress bar would convey the usage as well as a donut chart.  I can see that maybe the card is a little bigger then it may need to be and a code change could fix that. Another possibility could be using a gauge chart instead of a donut chart? This could take up less real es

[2017-08-29 06:40] alxark commented on #299
@lfarnell gauge chart might be better. I'm not a design master but in my opinion donut charts looks terrible now. I think it should be changed. Gauge chart + legend on the right side might be better and consume less space.

[2017-08-29 09:39] jippi commented on #303
If there is files there shouldn't be viewable in the files tab, those should be stored in /secret directory, that is by default blocked from any api access, and the recommended way to store secrets and other sensitive stuff?

[2017-08-29 11:04] jippi commented on #302
It works for me, though the job need to be submitted through the recent nomad cli to work

[2017-08-29 11:04] #302 closed

[2017-08-29 11:05] jippi commented on #301
can you try to force-reload ? can't reproduce this

[2017-08-29 11:11] jippi commented on #300
Is it always in this place it crashes? are you navigating around extremely fast? line 882 is sending the initial payload for jobs page when you display the page the first time, i got no idea how the socket would go away there

[2017-08-29 11:56] lfarnell commented on #303
Having a look at the ACL branch on the nomad repo, I believe that will probably solve the issues @diptanu is having.

[2017-08-29 17:01] justenwalker commented on #300
@jippi I compiled from source using commit ID d5dd90c6563452470ebf618d8c64a65b2dcbc72a

[2017-08-29 18:56] jippi commented on #300
Can you please try the builds from dockerhub or the release tab? :)

[2017-08-29 18:58] jippi commented on #297
I've build latest hashi-ui with Nomad 0.6.2 SDK, please see if that fixes it

[2017-08-29 18:58] #297 closed

[2017-08-29 18:59] jippi commented on #299
I really want to redesign that page :)

[2017-08-29 23:04] dropje86 commented on #302
Nope, it's not fixed. Try posting a job without an `update { }` stanza configured

[2017-08-29 23:58] diptanu commented on #303
@jippi I agree but looks like a lot of containers "on the internet" or vendors like putting secrets rendered on the root fs of containers since other cluster schedulers don't have a secret dir. Is it too hard to add a flag for to disable `nomad fs` in hashi-ui?

[2017-08-30 06:54] jippi commented on #303
@diptanu its not hard no, disabling it entirely is simple - filtering paths are less simple though :)

[2017-08-30 06:59] jippi commented on #302
It works for me on 0.5, 0.6.0 and 0.6.2 with latest hashi-ui

Did you try on 0.17.0 ?

[2017-08-30 08:48] jippi commented on #302
Can you try to test with https://github.com/jippi/hashi-ui/pull/304 ? there should be a docker image build for the PR in a few minutes

[2017-08-30 08:56] dropje86 commented on #302
@jippi tested but unfortunately doesn't work. I think an ugly hack is required to check if ```  "Update": {
    "Stagger": 0,
    "MaxParallel": 0,
    "HealthCheck": "",
    "MinHealthyTime": 0,
    "HealthyDeadline": 0,
    "AutoRevert": false,
    "Canary": 0
  }```
`MaxParallel` is set to 0 and if so hashui needs to adjust the JSON to reflect: `"Update": null`

[2017-08-30 08:57] dropje86 commented on #302
According to Nomad's changelog:
`deployment: Specifying an update stanza with a max_parallel of zero is now a validation error. Please update the stanza to be greater than zero or remove the stanza as a zero parallelism update is not valid.`
So it's invalid to specify MaxParallel 0 now anyway.

[2017-08-30 08:58] dropje86 commented on #302
This should however be fixed upstream but haven't created an issue of it yet.

[2017-08-30 09:08] jippi commented on #302
I don't want to get in a habit of working around Nomad bugs in hashi-ui, so would recommend pushing it out to Nomad for a fix, asap, so it can be included in 0.6.3 :)

[2017-08-30 09:26] dropje86 commented on #302
Logged an issue upstream ^

[2017-08-30 12:44] justenwalker commented on #300
I did, still get the panic

[2017-08-30 15:59] prathameshbhope opened #305 "Cannot see the Task State History of the Job allocation"
![image](https://user-images.githubusercontent.com/7515346/29882278-8bc96388-8d7a-11e7-9544-dcd4c8f1b35a.png)

[2017-08-30 16:02] jippi commented on #305
I don't understand the bug here, please elaborate

[2017-08-30 16:06] prathameshbhope commented on #305
In the previous version of the UI, when you clock on the allocation ID, it will take you to a page which will have two sections --> Allocation Properties and the Task State History. With the new version, the page shows only Allocation Properties. The Task state history is useful to have first hand information on the error that causes the allocation to be in the pending state.

[2017-08-30 16:07] jippi commented on #305
Can you please check your Console for any javascript errors? What you've sent a screenshot of is in fact the state history?

[2017-08-30 16:10] jippi commented on #305
Do you use v0.17.0 ?

[2017-08-30 16:13] prathameshbhope commented on #305
Yes, we use 0.17.0. We upgraded to the new version and saw couple of issues (already reported by my team mate Justen Walker). So we reverted back to 0.17.0. The picture which I sent I my comment is the task history example from the 0.17.0 version

[2017-08-30 16:15] jippi commented on #305
Think you got some version mismatch in your previous comment? :)

I need some JS error or reproducible steps to be able to debug & fix this

[2017-08-30 16:31] prathameshbhope commented on #305
My bad. Yes, the 0.17.0 is the version in which we saw the issues. Right now we are running older version. I'll make sure to grab the errors or more information when we change back to new and see the same issue.

[2017-08-30 23:55] goedelsoup opened #306 "add hashi-ui build/version info to the UI"
It'd be nice to have a quick reference for the build version and possibly other info about the current build available directly through the interface.

Proposed as reference and will definitely try to throw some of our resources at it.

[2017-08-31 05:41] discobean commented on #306
Viewing the container information without digging into the json would be great

[2017-08-31 05:53] jippi commented on #306
Build info is that hashi-ui build info?

[2017-08-31 14:12] cross311 commented on #300
@justenwalker is this similar to #263.  I never was able to get more info maybe you can get something else from our cluster.

[2017-09-01 13:28] mlosiewicz-pl opened #308 "Nomad fs with TLS"
I have a Nomad cluster configured with TLS with certificates for client.eu-west-1.nomad and server.eu-west-1.nomad and with configuration via environment variables I was able to run Hashi UI on the cluster. Everything works but for logs and files for allocations. I am getting
`13:19:15.931 connection.go:78 ▶ ERROR  [4080d319] Unable to fetch directory: Get https://{{domain_name}}:4646/v1/client/fs

[2017-09-01 13:55] jippi commented on #308
It is 99,999% a Nomad upstream issue - sounds a lot like https://github.com/hashicorp/nomad/pull/3127

[2017-09-01 14:32] jippi commented on #308
Oops, closed to fast! when 0.6.3 is out and hashi-ui is build against it, lets see if it works or not :)

[2017-09-03 13:06] jippi opened #309 "[VACATION] Maintainer unavailable until 17th of september"
I'm on vacation until 17th of September, so won't be able to help/debug/support hashi-ui until then.

[2017-09-03 18:13] lfarnell commented on #309
If anything is super pressing, I can make a judgement call and see what I can do.

[2017-09-06 23:10] sholland opened #311 "Request ability to hide Jobs->Raw->TaskGroup->Tasks->Templates->EmbeddedTmpl"
Request ability to hide Jobs->Raw->TaskGroup->Tasks->Templates->EmbeddedTmpl from view.

[2017-09-11 13:19] burdandrei commented on #309
Have a great time!

[2017-09-13 12:59] Smithx10 opened #313 "Add Multiple Clusters"
Add the ability to have multiple Consul Clusters and Nomad Clusters.

For Example:

CONSUL_ADDR: [ '10.10.10.10:8500', '20.20.20.20:8500' ] .

This would allow for me to view all my different consul clusters in 1 view.

[2017-09-13 14:08] jippi commented on #313
Closing as duplicate of #210

I don't think it's worth the complexity to add multiple clusters, rather than having hashi-ui running inside each cluster.

There usually are / should be network ACL preventing cluster cross-talk, and the resources needed to run hashi-ui is so low.

[2017-09-13 14:08] #313 closed

[2017-09-13 16:09] jippi commented on #305
Looks like the issue stalled, please re-open if still relevant

[2017-09-13 16:09] #305 closed

[2017-09-13 16:09] jippi commented on #301
Looks like the issue stalled, please re-open if still relevant

[2017-09-13 16:09] #301 closed

[2017-09-13 16:10] jippi commented on #289
I'm closing this as there doesn't seem to be much interest in the issue at this time from the community :)

[2017-09-13 16:10] #289 closed

[2017-09-13 16:13] shantanugadgil commented on #289
:sad

[2017-09-14 22:44] SoMuchToGrok commented on #308
Currently have Nomad 0.6.3 along with hashi-ui 0.18.0, everything is working great 👍

[2017-09-15 08:27] jippi commented on #308
Thanks!

[2017-09-15 08:27] #308 closed

[2017-09-17 06:44] joeblew99 opened #316 "vault gui"
there is a fantastic vault GUI written BTW. I saw you mentioned that you wanted to add it on the main readme.

https://github.com/djenriquez/vault-ui

I also uses React :)
It uses the Material-UI for its style

https://github.com/djenriquez/vault-ui/blob/master/package.json

[2017-09-17 08:33] jippi commented on #316
@joeblew99 yeah, would love to integrate Vault into the hashi-ui binary, not sure if another upstream project would want to merge with me though :)

[2017-09-17 08:34] #316 closed

[2017-09-19 10:49] joeblew99 commented on #316
how come you closed this ?

[2017-09-19 11:47] jippi commented on #316
I'm not sure what the question was - my goal is to include Vault UI directly into hashi-ui at some point. :)

[2017-09-20 09:11] ashmckenzie opened #317 "Screenshot links are all broken"
All screenshot links result in Not Found

[2017-09-20 11:19] justenwalker opened #318 "[bug] Breadcrumb link does not URL Path encode Job ID"
The link to the job in the nomad ui breadcrumb does not URL-Path encode the Job ID (in some cases) when putting it into the path, which breaks links to any Job which has a `/` in the ID

[2017-09-21 18:00] #300 closed

[2017-09-21 20:58] luckymike opened #319 "Deployments view job column cuts off full words that extend beyond the column edge"
https://cl.ly/2w2d0q0S2j2I

[2017-09-22 06:44] #319 closed

[2017-09-22 15:12] mlosiewicz-pl opened #320 "Nomad fs with TLS"
Just like in [this](https://github.com/jippi/hashi-ui/issues/308) issue but this time I get:
`x509: certificate is valid for server.eu-west-1.nomad, client.eu-west-1.nomad, localhost, not client.global.nomad`

I still have no region named `global` and I would like to specify which region does hashi-ui have access to.

[2017-09-22 15:32] jippi commented on #320
@mlosiewicz-pl what hashi-ui version?

[2017-09-22 15:32] jippi commented on #320
and can you provide logs around the error too please?

[2017-09-22 15:45] mlosiewicz-pl commented on #320
logs:

[code]
version:
[code]

[2017-09-22 15:53] jippi commented on #320
@mlosiewicz-pl can you please try 0.19.0 ? :)

[2017-09-22 16:45] mlosiewicz-pl commented on #320
Looks like 0.19.0 is workig, thanks a lot.

[2017-09-22 16:46] #320 closed

[2017-09-22 16:46] jippi commented on #320
@mlosiewicz-pl the rewrite paid off yet again then :D

[2017-09-22 16:47] jippi commented on #318
this should be fix in 0.19.0

[2017-09-22 16:47] #318 closed

[2017-09-22 16:47] jippi commented on #317
ah, dammit, dropbox nuked all the links :(

[2017-09-22 16:48] jippi commented on #317
You can see them here https://www.dropbox.com/sh/lce7ya1zsa6rjm8/AADH6hYQSnW-KxKkIybiOK9ta?dl=0

[2017-09-22 16:48] #317 closed

[2017-09-23 01:04] tarpanpathak opened #322 "Consul Datacenter Not Showing Up"
I'm running the Nomad and Consul (hashi-ui) service using a Nomad deploy file. The Nomad UI loads successfully but the Consul UI does not. It asks me to "Please select a consul datacenter" but don't see any options. I am attaching a screenshot that outlines the issue. Let me know if any further information is required to debug this.

### Hashi-UI Version
v0.19.0

<img width="1433" alt="hashi-ui-er

[2017-09-23 01:09] odysseus654 opened #323 "Attempt to deregister remote service doesn't escape IPv6"
Attempting to force-deregister a service from the "Nodes" pane results in an error similar to the following:

ERRO
[18395] connection: unable to run /consul/service/deregister?node=2600:1f14:e22:1501:f9a:2e0c:a167:67e8&service=rabbitmq:ip-10-2-20-162:unable to deregister consul service 'rabbitmq:ip-10-2-20-162':
 Put http://2600:1f14:e22:1501:f9a:2e0c:a167:67e8:8500/v1/agent/service/deregister/rab

[2017-09-23 10:50] #309 closed

[2017-09-23 19:45] reinoud opened #326 "select color scheme as parameter to distinguish environments"
We run 3 different environments (prod, QA, test). All environments are configured almost identical. So the difference between them is just a few characters in a long url.

Would it be possible to select a different color scheme CSS with an environment variable, so the different instances would be visually different from a distance?

[2017-09-23 21:00] jippi commented on #326
Having a optional ENV setting to set `CONSUL_COLOR` and `NOMAD_COLOR` that would override the [`CONSUL_COLOR`](https://github.com/jippi/hashi-ui/blob/master/frontend/src/components/ConsulTopbar/ConsulTopbar.js#L68) and [`NOMAD_COLOR`](https://github.com/jippi/hashi-ui/blob/master/frontend/src/components/NomadTopbar/NomadTopbar.js#L71) by exposing them in [config.js](https://github.com/jippi/hashi-

[2017-09-24 13:56] jippi commented on #229
both of these are done in master and should be in `0.20.0` :)

[2017-09-24 13:56] #229 closed

[2017-09-24 13:58] jippi commented on #237
this is in master now thanks to @hsmade - will be out in 0.20.0 :)

[2017-09-24 13:58] #237 closed

[2017-09-24 13:58] jippi commented on #287
Hi, i don't think I'm going to do this - as it would break other peoples expectation on how hashi-ui already works now :)

[2017-09-24 13:58] #287 closed

[2017-09-24 21:42] pvandervelde commented on #235
@ericwestfall Any progress on this item. We're currently trying to put HashiUI behind fabio but that needs a running health check. We can just point to the `/` address but it would be nice to have a useful health check :)

[2017-09-25 02:16] Xopherus commented on #237
Awesome!

[2017-09-25 05:05] pvandervelde opened #329 "Running hashi-ui behind the fabio load balancer"
While trying to run hashi-ui behind the [fabio load balancer](https://github.com/fabiolb/fabio).

The command line for hashi-ui is:

	--proxy-address /dashboards/hashiui/ --consul-enable --consul-address 127.0.0.1:8510 --nomad-enable --nomad-address http://172.17.35.6:4646

And my consul configuration for hashi-ui (with the fabio tags) is:

	{
		"service":
		{
			"checks":[
				{
					"http": "htt

[2017-09-25 07:44] jkalousek opened #330 "Consul UI Improvements"
Hi,
I would like if you could consider following changes/improvements for Consul UI in the future...

Most of the problem are reproducible on Mobile UI at portrait mode or when browser windows has low width in general:
![screenshot_20170925-092445](https://user-images.githubusercontent.com/8996764/30796800-df1861ca-a1d3-11e7-8cbe-c1ee8f449d77.png)

I would suggest to add menu icon to the header an

[2017-09-25 08:52] jippi commented on #306
this is now present in the left nav at the bottom of the page

[2017-09-25 08:52] #306 closed

[2017-09-25 11:21] thnee opened #331 "Crashes when CONSUL_ADDR or NOMAD_ADDR is invalid"
Tested with `v0.20.1` dockerhub image, frontend crashes when backend has these addresses misconfigured.

When `NOMAD_ADDR` is invalid (e.g. `http://invalid:4646`).

Returned frame when fetching regions:

`{"Type":"NOMAD_FETCHED_REGIONS","Index":0,"Payload":null}`

Crash in console:

[code]

When `CONSUL_ADDR` is invalid (e.g. `invalid:8500`).

Returned frame when fetching regions:

`{"Type":"CONSU

[2017-09-25 12:36] #331 closed

[2017-09-25 13:48] jippi commented on #235
`/_status` should now implement this ( in master )

[2017-09-25 13:48] #235 closed

[2017-09-26 06:59] dsolsona opened #332 "Consul read-only allows creating/updating keys"
Hi,

This is for hashi-ui version 0.20.1

I have started playing around with the Consul integration and it seems that you can create/update keys in the Consul KV but not delete the keys.

[code]

I'd expect to not be able to create/update any keys in read-only mode.

What I can't tell you if this used to work before.

[2017-09-26 09:13] jippi commented on #332
Should be fixed in master now, a new docker build should be up in a few minutes in `latest` - let me know if it fixes the issue and I'll cut a new release

[2017-09-26 19:33] hsmade commented on #152
@jippi I think we covered this, right?

[2017-09-26 19:35] jippi commented on #152
yep!

[2017-09-26 19:35] #152 closed

[2017-09-26 19:38] jippi commented on #184
Done in `0.20.x` and `master`

[2017-09-26 19:38] #184 closed

[2017-09-27 10:30] hsmade opened #337 "have consul health with port listing on alloc info"

[2017-09-27 12:19] hsmade commented on #337
also: have consul health icons clickable

[2017-09-27 19:11] #326 closed

[2017-09-27 19:31] hsmade commented on #282
I actually want to have this as well, so I can use it for linking the health tick marks to the actual service :)

[2017-09-27 19:48] hsmade opened #342 "create a 'restart' button for 'dead' jobs"
This should just do stop: true, submit, stop: false: submit

[2017-09-28 15:11] #342 closed

[2017-09-28 15:11] hsmade commented on #342
closed by #344

[2017-09-29 00:51] yangzhares opened #347 "Proxy support still doesn't work with Nginx"
guys,

i found [this](https://github.com/jippi/hashi-ui/pull/204) described how to let Hashi-ui support proxy with Nginx, and i follow this [nginx conf](https://github.com/jippi/hashi-ui/blob/master/scripts/nginx-frontend-proxy/site.conf) to make hashi-ui behind the Nginx and enable LDAP authentication, but it still can't work.

hashi-ui job spec:
[code]
nginx conf:
[code]
if directly access hashi